<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activitar | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>


<body>
<!-- Header Section Begin -->
<header class="header-section header-normal">
    <div class="container-fluid">
        <div class="logo">
            <a href="./index.html">
                <img src="img/logo.png" alt="">
            </a>
        </div>
        <div class="top-social">

            <a sec:authorize="isAuthenticated()" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>


        </div>
        <div class="container">
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <ul>
                            <li><a href="/index">Главная</a></li>
                            <li class="active"><a href="/gallery">Галерея</a></li>
                            <li><a href="/contact">Контакты</a></li>
                        </ul>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg spad" data-setbg="img/about-bread.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Админ</h2>
                    <div class="breadcrumb-controls">
                        <a href="/Index"><i class="fa fa-home"></i>Главная</a>
                        <span>Админ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->
<section class="gallery-section spad">
    <div class="container">

        <!-- Nav tabs -->
        <ul class="nav nav-pills-dark" role="tablist">
            <li class="nav-item ">
                <a class="nav-link active" data-toggle="tab" href="#home_hom"><p>Галерея</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1"><p>Отзывы</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2"><p>Эскизы</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu3"><p>Пользователи</p></a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home_hom" class="container-fluid tab-pane active"><br>
                <h3 style="color: #FFFFFF">Галерея</h3>
                <div class="container px-4">

                    <form th:action="@{img-import}" method="post" enctype="multipart/form-data">
                        <label><p>Загрузить фото</p></label>
                        <div class="row">
                            <div class="col-md-8 themed-grid-col">
                                <div class="row g-2">
                                    <div class="col" style="margin: 10px;">
                                        <input type="file" id="file-upload-input" name="file" required>
                                    </div>
                                    <div class="col" style="margin: 10px;">
                                        <select class="show-result-select" id="select" name="category" required>
                                            <option disabled selected>Выберите категорию</option>
                                            <option value="Классический">Классический</option>
                                            <option value="Винтажный">Винтажный</option>
                                            <option value="Граффити">Граффити</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col" style="margin: 10px;">
                                        <input style="width: 100%; height: 100px" type="text" placeholder="Описание"
                                               name="description" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 themed-grid-col" style="margin: 10px;">
                                <button type="submit" class="leave-btn">Применить</button>
                            </div>
                        </div>
                    </form>

                    <section class="gallery-section spad  scroll" style="margin: 10px;">
                        <div class="row gallery-filter" th:each="current : ${images}">

                            <div class="col-5">
                                <div class="gallery-item">

                                    <img alt="" th:src="@{'img/gallery/'+${current.imageName}}">
                                    <div class="gi-hover-warp">
                                        <div class="gi-hover">
                                            <a href="img/gallery/gallery-1.jpg" class="image-popup"><i
                                                    class="fa fa-search-plus"></i></a>

                                            <h6 th:text="${current.description}"></h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-5">
                                <div class="row mb-3 text-center">
                                    <h4 style="color: #FFFFFF" th:text="${current.category}"></h4>
                                </div>
                                <div class="row mb-3 text-center">
                                    <h5 style="color: #FFFFFF" th:text="${current.description}"></h5>
                                </div>
                            </div>
                            <div class="col">
                                <form th:action="@{img-delete}" method="get">
                                    <input type="hidden" name="id" id="id" th:value="${current.id}">
                                    <button class="btn btn-outline-secondary" type="submit">Удалить</button>
                                </form>
                            </div>

                        </div>
                    </section>
                </div>
            </div>


            <div id="menu1" class="container-fluid tab-pane fade"><br>

                <h3 style="color: #FFFFFF">Отзывы</h3>
                <section class="gallery-section spad  scroll" style="margin: 10px;">
                    <div class="row gallery-filter" th:each="current : ${reviews}">
                        <div class="col-5">
                            <div class="gallery-item">
                                <img alt="" th:src="@{'img/user-comment/'+${current.imageName}}">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="row mb-3 text-center">
                                <h5 style="white-space: pre-line;color: #FFFFFF" th:text="${current.comment}"></h5>
                            </div>
                        </div>
                        <div class="col">
                            <form th:action="@{reviews-delete}" method="get">
                                <input type="hidden" name="id" th:value="${current.id}">
                                <button class="btn btn-outline-secondary" type="submit">Удалить</button>
                            </form>
                        </div>
                    </div>
                </section>


            </div>
            <div id="menu2" class="container tab-pane fade"><br>
                <h3 style="color: #FFFFFF">Эскизы</h3>
                <div class="container px-4">

                    <form th:action="@{sketches-import}" method="post" enctype="multipart/form-data">
                        <label id=""><p>Загрузить фото</p></label>
                        <div class="row">
                            <div class="col-md-8 themed-grid-col">
                                <div class="row g-2">
                                    <div class="col" style="margin: 10px;">
                                        <input type="file" id="" name="file" required>
                                    </div>

                                </div>
                                <div class="row g-2">
                                    <div class="col" style="margin: 10px;">
                                        <input style="width: 100%; height: 100px" type="text" placeholder="Описание"
                                               name="description" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 themed-grid-col" style="margin: 10px;">
                                <button type="submit" class="leave-btn">Применить</button>
                            </div>
                        </div>
                    </form>

                    <section class="gallery-section spad  scroll" style="margin: 10px;">
                        <div class="row gallery-filter" th:each="current : ${sketches}">
                            <div class="col-5">
                                <div class="gallery-item">
                                    <img alt="" th:src="@{'img/gallery/'+${current.imageName}}">
                                    <div class="gi-hover-warp">
                                        <div class="gi-hover">
                                            <a href="img/gallery/gallery-1.jpg" class="image-popup"><i
                                                    class="fa fa-search-plus"></i></a>
                                            <h6 th:text="${current.description}"></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                 <div class="row mb-3 text-center">
                                    <h5 style="color: #FFFFFF" th:text="${current.description}"></h5>
                                </div>
                            </div>
                            <div class="col">
                                <form th:action="@{sketches-delete}" method="get">
                                    <input type="hidden" name="id" id="" th:value="${current.id}">
                                    <button class="btn btn-outline-secondary" type="submit">Удалить</button>
                                </form>
                            </div>

                        </div>
                    </section>
                </div>

            </div>
            <div id="menu3" class="container-fluid tab-pane fade"><br>
                   <div class="row mb-3">
                    <h3 style="color: #FFFFFF">Пользователи</h3>
                    <section class="gallery-section spad  scroll" style="margin: 10px;">
                        <div class="row gallery-filter" th:each="current : ${user}">
                            <div class="col-5">
                                <div class="row mb-3 text-center">
                                    <h5 style="white-space: pre-line;color: #FFFFFF" th:text="${current.login}"></h5>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="row mb-3 text-center">
                                    <h5 style="white-space: pre-line;color: #FFFFFF" th:text="${current.email}"></h5>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

        </div>

    </div>
</section>

<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <div class="footer-logo-item">


                    <div class="f-logo">
                        <a href="#"><img src="img/logo.png" alt=""></a>
                    </div>
                    <div class="social-links">
                        <h6>следуй за мной</h6>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer-widget">
                    <p>Процесс создания татуировки довольно сложный и ответственный. Чтобы создать качественное
                        изображение, которое будет радовать вас всю жизнь, мастер должен учесть множество факторов.
                        Важно правильно подобрать эскиз, цветовую гамму, размер и место для будущей тату. Также
                        необходимо выбрать подходящий стиль и технику нанесения. В результате вы получите уникальный
                        рисунок, который будет подчеркивать вашу индивидуальность и придавать уверенности в
                        себе..</p>

                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>Стили</h5>
                    <ul class="workout-program">
                        <li><a href="#">Классический</a></li>
                        <li><a href="#">Винтажный</a></li>
                        <li><a href="#">Граффити</a></li>
                        <li><a href="#">Готический</a></li>
                        <li><a href="#">Кельтский</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h5>ПОЛУЧИТЬ ИНФОРМАЦИЮ</h5>
                    <ul class="footer-info">
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>Phone:</span>
                            (12) 345 6789
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <span>Email:</span>
                            Colorlib.info@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>Address</span>
                            Iris Watson, Box 283 8562, NY
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="ct-inside">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>