<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Тату омск">
    <meta name="keywords" content="Татуировка, татуировка омск, тату салон, сделать татуировку">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tattoos Maxim</title>
    <link href="img/logo.png" rel="icon" type="image/vnd.microsoft.icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>


<body>
<!-- Header Section Begin -->
<header class="header-section header-normal" >
    <div class="container-fluid">
        <div class="logo">
            <a href="/index">
                <img src="img/logo.png" alt="">
            </a>
        </div>
        <div class="top-social">
            <a href="/registration">Регистрация</a>

        </div>
        <div class="container">
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <ul>
                            <li><a href="/index">Главная</a></li>
                            <li class="active"><a href="/gallery">Галерея</a></li>
                            <li><a href="/contact">Контакты</a></li>
                        </ul>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->
<section class="breadcrumb-section set-bg spad" data-setbg="img/classes-title-bg.jpg" >

    <div class="container">
        <div class="row justify-content-center" style="height: 200px;">

            <div class="form-input">
                <main class="form-signin">
                <form class="map-contact-form" th:action="@{/login}" method="post">
                    <div class="form-group">
                        <input type="text" id="login" name="username" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="password" required>
                    </div>
                    <button class="w-100 btn site-btn" type="submit">Войти</button>



                </form>
                </main>
            </div>
        </div>

    </div>


</section>

<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <div class="footer-logo-item">


                    <div class="f-logo">
                        <a href="/index"><img src="img/logo.png" alt=""></a>
                    </div>
                    <div class="social-links">
                        <h6>Следуй за мной</h6>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer-widget">
                    <p>Процесс создания татуировки довольно сложный и ответственный. Чтобы создать качественное
                        изображение, которое будет радовать вас всю жизнь, мастер должен учесть множество факторов.
                        Важно правильно подобрать эскиз, цветовую гамму, размер и место для будущей тату. Также
                        необходимо выбрать подходящий стиль и технику нанесения. В результате вы получите уникальный
                        рисунок, который будет подчеркивать вашу индивидуальность и придавать уверенности в себе..</p>

                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>Стили</h5>
                    <ul class="workout-program">
                        <li><a href="#">Классический</a></li>
                        <li><a href="#">Винтажный</a></li>
                        <li><a href="#">Граффити</a></li>
                        <li><a href="#">Готический</a></li>
                        <li><a href="#">Кельтский</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h5>ПОЛУЧИТЬ ИНФОРМАЦИЮ</h5>
                    <ul class="footer-info">
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>Телефон:</span>
                            (12) 345 6789
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <span>Email:</span>
                            Colorlib.info@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>Адрес</span>
                            Iris Watson, Box 283 8562, NY
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="ct-inside">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>