<!DOCTYPE HTML>
<html xmlns:th="http://www.btn-close.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>admin</title>
    <link th:each="current: ${setting}" th:if="${current.section=='logo'}" th:href="@{'/images/'+${current.imageName}}" rel="icon" type="image/vnd.microsoft.icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->

    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/style.css}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.2/mixitup.min.css">
</head>


<body>
<!-- Header Section Begin -->
<div th:replace="~{fragments::header}"></div>
<!-- Header End -->
<!-- Breadcrumb Section Begin -->
<section id="breadcrumb-section" class="breadcrumb-section-admin set-bg spad" th:each="current: ${setting}"
         th:if="${current.section=='breadcrumb'}" th:attr="data-setbg=@{'/images/'+${current.imageName}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Админ</h2>
                    <div class="breadcrumb-controls">
                        <a href="/"><i class="fa fa-home"></i>Главная</a>
                        <span>Админ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->
<!-- Модальное окно -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title">Сообщение</h7>
                <button type="button" id="hide"
                        class="delete-button btn-close-custom"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div th:fragment="modal-body">
                    <div class="container-fluid">
                        <p th:if="${message}" class="text-success" th:text="${message}"></p>

                        <!-- Сообщение об ошибке -->
                        <p th:if="${error}" class="text-danger" th:text="${error}"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно End -->
<div class="gallery-section spad">
    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-pills-dark nav-justified nav-tabs" role="tablist">
            <li class="nav-item ">
                <a class="nav-link active" data-toggle="tab" onclick="updateAdminFragment(this.href)" href="/admin/home"><p>Главная</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="updateAdminFragment(this.href)" data-toggle="tab" href="/gallery/admin"><p>Галерея</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="updateAdminFragment(this.href)" data-toggle="tab" href="/sketches/admin"><p>Эскизы</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="updateAdminFragment(this.href)" data-toggle="tab" href="/blog/admin"><p>Блог</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="updateAdminFragment(this.href)" data-toggle="tab" href="/reviews/admin"><p>Отзывы</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="updateAdminFragment(this.href)" data-toggle="tab" href="/setting/admin"><p>Настройки</p></a>
            </li>
        </ul>
        <!-- End nav tabs -->
        <!-- Tab panes -->
        <div class="tab-content">
            <div th:replace="~{fragment-admin::fragment-tab}"></div>
        </div>
    </div>
</div>
<!-- Footer Section Begin -->
<div class="footer-section">
    <div th:replace="~{fragments::footer}"></div>
</div>
<!-- Footer Section End -->
<!-- Js Plugins -->
<script type="text/javascript" th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.magnific-popup.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/mixitup.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.nice-select.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.slicknav.js}"></script>
<script type="text/javascript" th:src="@{/static/js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/masonry.pkgd.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/main.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.2/mixitup.min.js"></script>
</body>
</html>