<!DOCTYPE HTML>
<html xmlns:th="http://www.btn-close.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Тату омск, тату мастер, индивидуальная татуировка">
    <meta name="keywords"
          content="татуировка эскиз, татуировка эскиз омск, тату салон, сделать эскиз татуировки, эскиз тату">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tR1-TАТТОO</title>
    <link href="img/logo.png" rel="icon" type="image/vnd.microsoft.icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>


<body>
<!-- Header Section Begin -->
<div th:replace="~{fragments::header}"></div>
<!-- Header End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg spad" data-setbg="img/about-me.PNG">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Админ</h2>
                    <div class="breadcrumb-controls">
                        <a href="/"><i class="fa fa-home"></i>Главная</a>
                        <span>Админ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->
<!-- Модальное окно -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title">Сообщение</h7>
                <button type="button" id="hide"
                        class="btn-close btn-close-custom"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно End -->
<section class="gallery-section spad">
    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-pills-dark nav-justified nav-tabs" role="tablist">
            <li class="nav-item ">
                <a class="nav-link active" data-toggle="tab" href="#home_hom"><p>Галерея</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1"><p>Отзывы</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2"><p>Эскизы</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu3"><p>Блог</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu4"><p>Пользователи</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu5"><p>Главная</p></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home_hom" class="container tab-pane active"><br>
                <h3 style="color: #FFFFFF; margin: 10px;">Галерея</h3>
                <div class="container px-4">
                    <div class="img-import" th:fragment="img-import">
                        <form id="img-import">
                            <label><p>Загрузить фото</p></label>
                            <div class="row">
                                <div class="col-md-8 themed-grid-col">
                                    <div class="row g-2">
                                        <div class="col" style="margin: 10px;">
                                            <input type="file" accept="image/png, image/gif, image/jpeg"
                                                   id="file-Gallery" name="file" required>
                                        </div>
                                        <div class="col" style="margin: 10px;">
                                            <select class="show-result-select" id="select" name="category" required>
                                                <option disabled selected>Выберите категорию</option>
                                                <option value="Классический">Классический</option>
                                                <option value="Винтажный">Винтажный</option>
                                                <option value="Граффити">Граффити</option>
                                                <option value="Винтажный">Готический</option>
                                                <option value="Граффити">Кельтский</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row g-2">
                                        <div class="col" style="margin: 10px;">
                                            <input style="width: 100%; height: 100px" type="text" placeholder="Описание"
                                                   id="description" name="description" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 themed-grid-col" style="margin: 10px;">
                                    <button id="btn-img" class="leave-btn">Применить</button>
                                </div>
                            </div>
                        </form>
                        <section class="scroll" style="margin: 10px;">
                            <div class="reviews-admin" th:each="current : ${images}">
                                <div class="row gallery-filter">
                                    <div class="col-lg-3">
                                        <div class="admin-img">
                                            <img alt="" th:src="@{'/images/'+${current.imageName}}" class="img-fluid">
                                            <div class="trainer-text">
                                                <label>
                                                    <input class="checkbox" type="checkbox"
                                                           th:checked="${current.flag}"/> Лучшее тату
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row mb-3 text-center">
                                            <h4 style="color: #FFFFFF; margin: 10px;"
                                                th:text="${current.category}"></h4>
                                        </div>
                                        <div class="row mb-3 text-center">
                                            <h5 style="color: #FFFFFF; margin: 10px;"
                                                th:text="${current.description}"></h5>
                                        </div>
                                    </div>
                                    <div class="col" hidden="hidden">
                                        <div hidden="hidden" name="id" th:text="${current.id}"></div>
                                    </div>
                                    <div class="col-lg-3">
                                        <button style="margin: 10px;" class="btn btn-outline-secondary delimg"
                                                type="submit">Удалить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div id="menu1" class="container tab-pane fade"><br>
                <h3 style="color: #FFFFFF; margin: 10px;">Отзывы</h3>
                <section class="scroll" style="margin: 10px;">
                    <div class="reviews-admin" th:fragment="reviews">
                        <div class="row gallery-filter" th:each="current : ${reviews}">
                            <div class="col-lg-3">
                                <div class="admin-img">
                                    <img th:src="@{'/images/'+${current.imageName}}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h4 style="white-space: pre-line;color: #FFFFFF ; margin: 10px;"
                                            th:text="${current.userName}"></h4>
                                    </div>
                                    <div class="col-sm-9">
                                        <h5 style="white-space: pre-line;color: #FFFFFF ; margin: 10px;"
                                            th:text="${current.comment}"></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1" hidden="hidden">
                                <div hidden="hidden" name="id" th:text="${current.id}"></div>
                            </div>
                            <div class="col-lg-2">
                                <button style="margin: 10px;" class="btn btn-outline-secondary del" type="submit">
                                    Удалить
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div id="menu2" class="container tab-pane fade"><br>
                <h3 style="color: #FFFFFF; margin: 10px;">Эскизы</h3>
                <div class="container px-4">
                    <div class="sketches-import" th:fragment="sketches-import">
                        <form id="img-sketches">
                            <label id=""><p>Загрузить фото</p></label>
                            <div class="row">
                                <div class="col-md-8 themed-grid-col">
                                    <div class="row g-2">
                                        <div class="col" style="margin: 10px;">
                                            <input type="file" id="file-sketches" name="file" required>
                                        </div>

                                    </div>
                                    <div class="row g-2">
                                        <div class="col" style="margin: 10px;">
                                            <input style="width: 100%; height: 100px" type="text" placeholder="Описание"
                                                   name="description" id="description-sketches" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 themed-grid-col" style="margin: 10px;">
                                    <button type="submit" class="leave-btn">Применить</button>
                                </div>
                            </div>
                        </form>
                        <section class="scroll" style="margin: 10px;">
                            <div class="reviews-admin" th:each="current : ${sketches}">
                                <div class="row gallery-filter">
                                    <div class="col-lg-3">
                                        <div class="admin-img">
                                            <img alt="" th:src="@{'/images/'+${current.imageName}}">
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <h5 style="margin: 10px; color: #FFFFFF" th:text="${current.description}"></h5>
                                    </div>
                                    <div class="col" hidden="hidden">
                                        <div hidden="hidden" name="id" th:text="${current.id}"></div>
                                    </div>
                                    <div class="col-lg-2">
                                        <button style="margin: 10px;" class="btn btn-outline-secondary del"
                                                type="submit">Удалить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div id="menu3" class="container tab-pane fade"><br>
                <div class="row">
                    <div class="col-6 col-md-4 themed-grid-col">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link active btn btn-outline-secondary" style="margin: 10px;"
                               id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                               aria-controls="v-pills-home" aria-selected="true">Интересные работы</a>
                            <a class="nav-link btn btn-outline-secondary" style="margin: 10px;" id="v-pills-profile-tab"
                               data-toggle="pill" href="#v-pills-profile" role="tab"
                               aria-controls="v-pills-profile" aria-selected="false">Комментарии</a>
                        </div>
                    </div>
                    <div class="col-md-8 themed-grid-col">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div class="container px-4">
                                    <form id="img-interesting-works">
                                        <label id=""><p>Загрузить фото</p></label>
                                        <div class="row">
                                            <div class="col-md-8 themed-grid-col">
                                                <div class="row g-2">
                                                    <div class="col" style="margin: 10px;">
                                                        <input type="file" id="file-interesting-works" name="file"
                                                               required>
                                                    </div>
                                                </div>
                                                <div class="row g-2">
                                                    <div class="col" style="margin: 10px;">
                                                        <input style="width: 100%; height: 100px" type="text"
                                                               placeholder="Описание"
                                                               name="description" id="description-interesting-works"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4 themed-grid-col" style="margin: 10px;">
                                                <button type="submit" class="leave-btn">Применить</button>
                                            </div>
                                        </div>
                                    </form>
                                    <section class="scroll" style="margin: 10px;">
                                        <div class="interesting-works-import" th:fragment="interesting-works-import">
                                            <div class="interesting-works-import"
                                                 th:each="current : ${interestingWorks}">
                                                <div class="row gallery-filter">
                                                    <div class="col-lg-3">
                                                        <div class="admin-img">
                                                            <img alt="" th:src="@{'/images/'+${current.imageName}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <h5 style="margin: 10px; color: #FFFFFF"
                                                            th:text="${current.description}"></h5>
                                                    </div>
                                                    <div class="col" hidden="hidden">
                                                        <div hidden="hidden" name="id" th:text="${current.id}"></div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <button style="margin: 10px;"
                                                                class="btn btn-outline-secondary interesting-works-del"
                                                                type="submit">Удалить
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                 aria-labelledby="v-pills-profile-tab">
                                <div class="scroll">
                                    <section>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <div class="section-title">
                                                        <h2>Комментарии</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="commit-table">
                                                <table>

                                                    <tbody>
                                                    <tr th:each="current : ${commits}">

                                                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                                                            <h6>
                                                                <ya-tr-span data-index="35-0" data-translated="true"
                                                                            data-source-lang="en" data-target-lang="ru"
                                                                            data-value="Crossfit lv1"
                                                                            data-translation="Кроссфит lv1" data-ch="0"
                                                                            data-type="trSpan"
                                                                            style="visibility: inherit !important;"
                                                                            data-selected="false"
                                                                            th:text="${current.comment}"></ya-tr-span>
                                                            </h6>
                                                            <span th:text="${current.date}"></span>
                                                        </td>
                                                        <td th:text="${current.userName}" class="workout-time">

                                                        </td>
                                                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                                                            <button style="margin: 10px;"
                                                                    class="btn btn-outline-secondary interesting-works-del"
                                                                    type="submit">Удалить
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu4" class="container tab-pane fade"><br>
                <div class="row mb-3">
                    <h3 style="color: #FFFFFF; margin: 10px;">Пользователи</h3>
                    <section class="scroll" style="margin: 10px;">
                        <div class="row gallery-filter" th:each="current : ${user}">
                            <div class="col-6 col-md-4 themed-grid-col">
                                <h6 style="color: #FFFFFF; margin: 10px;" th:text="${current.login}"></h6>
                            </div>
                            <div class="col-6 col-md-4 themed-grid-col">
                                <h6 style="color: #FFFFFF; margin: 10px;" th:text="${current.email}"></h6>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            <div id="menu5" class="container tab-pane fade"><br>
                <div class="row">
                    <div class="col-6 col-lg-4 themed-grid-col">
                        <div class="nav flex-column nav-pills me-3" id="myTab" role="tablist"
                             aria-orientation="vertical">
                            <button style="margin: 10px;" class="nav-link active btn btn-outline-secondary"
                                    href="#v-pills-carousel"
                                    id="v-pills-carousel-tab" data-bs-toggle="pill" data-bs-target="#v-pills-carousel"
                                    type="button" role="tab" aria-controls="v-pills-carousel" aria-selected="true">
                                Карусель
                            </button>
                            <button style="margin: 10px;" class="nav-link btn btn-outline-secondary"
                                    href="#v-pills-profile2" id="v-pills-profile-tab2"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-profile2" type="button"
                                    role="tab" aria-controls="v-pills-profile" aria-selected="false">Профиль
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-8 themed-grid-col">
                        <div class="tab-content" id="v-pills-tabContent-carousel">
                            <div class="tab-pane fade show active" id="v-pills-carousel" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab" tabindex="0">
                                <div class="col-lg-12 text-center">
                                    <div class="section-title">
                                        <h2>Карусель</h2>
                                    </div>
                                </div>

                                <div class="row mb-3 text-center">
                                    <div class="col-6 col-lg-4 themed-grid-col">
                                        <div class="upload-container">

                                            <form id="img-carousel">

                                                <input type="file" id="file-carousel"  accept="image/*" hidden>
                                                <label for="file-carousel" class="upload-button">Выбрать
                                                    изображение</label>

                                                <img id="preview" style="display: none; object-fit: cover; max-height: 100%; max-width: 100%;">

                                                <button type="submit" class="btn leave-btn btn-block"
                                                        id="inputGroupFileAddon04">Применить
                                                </button>

                                            </form>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-8 themed-grid-col">

                                        <div id="carouselExample" class="carousel slide">
                                            <div class="carousel-import" th:fragment="carousel-import">
                                            <div class="carousel-inner">
                                                <div th:each="current, item : ${carousel}" th:if="${item.index == 0}"
                                                     class="carousel-item active">
                                                    <img th:src="@{'/images/'+${current.imageName}}"
                                                         class="d-block w-100" alt="...">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <button style="margin: 10px;" th:id="${current.id}"
                                                                class="btn btn-outline-secondary delete"
                                                                type="submit">Удалить
                                                        </button>
                                                    </div>
                                                </div>
                                                <div th:each="current, item : ${carousel}" th:if="${item.index != 0}"
                                                     class="carousel-item">
                                                    <img th:src="@{'/images/'+${current.imageName}}"
                                                         class="d-block w-100" alt="...">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <button style="margin: 10px;" th:id="${current.id}"
                                                                class="btn btn-outline-secondary delete"
                                                                type="submit">Удалить
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <button class="carousel-control-prev" id="Previous" type="button"
                                                    data-bs-target="#carouselExample" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" id="Next"
                                                    data-bs-target="#carouselExample" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>

                                    </div>

                                </div>


                            </div>
                            <div class="tab-pane fade" id="v-pills-profile2" role="tabpanel"
                                 aria-labelledby="v-pills-profile-tab" tabindex="0">
                                <div class="row">
                                    <div class="footer-widget" th:object="${contactInfo}">
                                        <div class="col-lg-12 text-center">
                                            <div class="section-title">
                                                <h3 style="color: #FFFFFF;">Контактная информация</h3>
                                            </div>
                                        </div>
                                        <ul class="admin-info">
                                            <li>
                                                <div class="row">
                                                    <i class="fa fa-phone"></i>
                                                    <div class="col-6 col-md-4 themed-grid-col" id="tell-new">
                                                        <span>Телефон:</span>
                                                        [(*{tell})]
                                                    </div>
                                                    <div class="col-6 col-md-4 themed-grid-col">
                                                        <span>Новый номер:</span>
                                                        <input type="tel" class="form-control" id="tell"
                                                               autofocus="autofocus" required="required"
                                                               placeholder="+7(___)___-__-__">
                                                    </div>
                                                    <div class="col-6 col-md-4 themed-grid-col">
                                                        <button id="phone" type="submit" class="leave-btn">Сохранить
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <i class="fa fa-envelope-o"></i>
                                                    <div class="col-6 col-md-4 themed-grid-col" id="email-new">
                                                        <span>Email:</span>
                                                        [(*{email})]
                                                    </div>
                                                    <div class="col-6 col-md-4 themed-grid-col">
                                                        <span>Новый email:</span>
                                                        <input type="email" class="form-control" id="email"
                                                               aria-describedby="emailHelp" prequired
                                                               placeholder="name@example.com">
                                                    </div>
                                                    <div class="col-6 col-md-4 themed-grid-col">
                                                        <button id="email-btn" type="submit" class="leave-btn">
                                                            Сохранить
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <i class="fa fa-map-marker"></i>
                                                    <div class="col-6 col-md-4 themed-grid-col" id="address-new">
                                                        <span>Адрес</span>
                                                        [(*{address})]
                                                    </div>
                                                    <div class="col-6 col-md-4 themed-grid-col">
                                                        <span>Новый адрес:</span>
                                                        <input type="text" class="form-control" id="address"
                                                               aria-describedby="emailHelp" placeholder="Enter адрес">
                                                    </div>
                                                    <div class="col-6 col-md-4 themed-grid-col">
                                                        <button type="submit" id="address-btn" class="leave-btn">
                                                            Сохранить
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer Section Begin -->
<footer th:replace="~{fragments::footer}"></footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" th:src="@{/js/admin.js}"></script>
</body>
</html>