<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activitar | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<div th:replace="~{fragments::header}"></div>
<!-- Header End -->

<!-- Breadcrumb Section Begin -->
<section class="blog-single-hero set-bg" data-setbg="img/about-me.PNG">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 m-auto text-center">
                <div class="bs-hero-text">
                    <h2>Чернила жизни</h2>
                    <ul>
                        <li>R1-TАТТОO</li>
                        <li th:text="${#temporals.format(localDateTime, 'dd MMMM yyyy', new java.util.Locale('ru', 'RU'))}"></li>
                        <li th:text="${count} + ' ' + Отзывов"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->

<!-- Blog Single Section Begin -->
<section class="blog-single-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-single-text">
                    <div class="blog-text">
                        <p>Татуировки давно перестали быть просто украшением тела – они стали символом,
                            отражением внутреннего мира человека, его убеждений, воспоминаний и даже жизненных целей.
                            Эта статья посвящена глубокому анализу того, какую роль играют татуировки в современной культуре и обществе,
                            а также предлагает вдохновляющие истории тех, кто сделал себе татуировку в честь важных событий или людей.
                        </p>
                        <p>Таким образом, татуировки – это не просто рисунки на коже,
                            а отражение души и жизненного пути каждого человека.
                            Они могут рассказать историю, выразить чувства и напомнить о самых важных моментах жизни.</p>
                    </div>
                    <div class="blog-pic">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="img/blog-single-1.jpg" alt="">
                            </div>
                            <div class="col-lg-6">
                                <img src="img/blog-single-2.jpg" alt="">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img src="img/blog-single-3.jpg" alt="">
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="img/blog-single-4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-title">
                        <h4>Use Your Reset Button To Change Your Vibration</h4>
                        <p>You may feel like you will never possess enough commitment power to quit smoking
                            cigarettes. However, trying to stop smoking is just like all things else in the world.
                            It takes practice. Very few individuals stop for good on the principal try. Each time
                            you try to stop, it will get a little easier, especially if you are knowledgeable of
                            some of the best ways to quit smoking.</p>
                        <p>These days, there are a variety of goods on the market that can assist you to stop
                            smoking cigarettes. There are laser smoking restraint treatments, acupuncture cessation
                            smoking methods, and even a smoking cessation shot. You can also see your physician to
                            obtain a stop smoking antidepressant. </p>
                    </div>
                    <div class="blog-quote">
                        <i class="fa fa-quote-left"></i>
                        <div class="quote-text">That’s not to say you’ll have the exact same thing if you stop by:
                            the restaurant’s menus change constantly.
                        </div>
                        <h5>Ollie Schneider</h5>
                    </div>
                    <div class="blog-more-title">
                        <h4>Use Your Reset Button To Change Your Vibration</h4>
                        <p>Whether you enjoy city breaks or extended holidays in the sun, you can always improve
                            your travel experiences by staying in a small, charming hotel, where the atmosphere is
                            welcoming and friendly and the service is fabulous. There are hundreds of hotels that
                            are self-styled “boutique” places to stay, but not all of them fall into the traditional
                            definition of boutique, which includes.</p>
                    </div>
                    <div class="blog-tag-share">
                        <div class="tags">
                            <a href="#">Gym</a>
                            <a href="#">Crossfit</a>
                        </div>
                        <div class="social-share">
                            <span>Share:</span>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-single-sidebar">
                    <div class="bs-latest-news">
                        <h4>News Latest</h4>
                        <a href="#" class="bl-item set-bg" data-setbg="img/sidebar-latest.jpg">
                            <h5>We all have those moments in our lives when we feel.</h5>
                            <span>January 31, 2019</span>
                        </a>
                        <a href="#" class="bl-item set-bg" data-setbg="img/sidebar-latest.jpg">
                            <h5>Finding the perfect learning tool for Flash is a daunting task to any novice.</h5>
                            <span>January 31, 2019</span>
                        </a>
                        <a href="#" class="bl-item set-bg" data-setbg="img/sidebar-latest.jpg">
                            <h5>The buying of large-screen TVs has absolutely skyrocketed lately. </h5>
                            <span>January 31, 2019</span>
                        </a>
                        <a href="#" class="bl-item set-bg" data-setbg="img/sidebar-latest.jpg">
                            <h5>Kidney stones are very hard mineral deposits that happen.</h5>
                            <span>January 31, 2019</span>
                        </a>
                    </div>
                    <div class="bs-recent-news">
                        <h4>Recent News</h4>
                        <a href="#" class="br-item">
                            <div class="bi-pic">
                                <img src="img/br-recent-1.jpg" alt="">
                            </div>
                            <div class="bi-text">
                                <span>Jan 31, 2019</span>
                                <h5>Easy Home Remedy For Moisture Control Of Skin</h5>
                            </div>
                        </a>
                        <a href="#" class="br-item">
                            <div class="bi-pic">
                                <img src="img/br-recent-2.jpg" alt="">
                            </div>
                            <div class="bi-text">
                                <span>Jan 31, 2019</span>
                                <h5>Turkey Gravy Secrets Revealed</h5>
                            </div>
                        </a>
                        <a href="#" class="br-item">
                            <div class="bi-pic">
                                <img src="img/br-recent-3.jpg" alt="">
                            </div>
                            <div class="bi-text">
                                <span>Jan 31, 2019</span>
                                <h5>How To Remove Kidney Stones</h5>
                            </div>
                        </a>
                        <a href="#" class="br-item">
                            <div class="bi-pic">
                                <img src="img/br-recent-4.jpg" alt="">
                            </div>
                            <div class="bi-text">
                                <span>Jan 31, 2019</span>
                                <h5>Help Finding Information Online</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="recent-news">
                    <h4>Relatest News</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="recent-item set-bg" data-setbg="img/recent-1.jpg">
                                <a href="#" class="recent-text">
                                    <div class="categories">Gym & Croosfit</div>
                                    <h5>Many people sign up for affiliate programs</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="recent-item set-bg" data-setbg="img/recent-2.jpg">
                                <a href="#" class="recent-text">
                                    <div class="categories">Gym & Croosfit</div>
                                    <h5>Many people sign up for affiliate programs</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="recent-item set-bg" data-setbg="img/recent-3.jpg">
                                <a href="#" class="recent-text">
                                    <div class="categories">Gym & Croosfit</div>
                                    <h5>Many people sign up for affiliate programs</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="leave-comment-form">
                    <h4>Leave A Comment</h4>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-lg-4">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-lg-4">
                                <input type="text" placeholder="Phone">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Comment"></textarea>
                                <button type="submit" class="leave-btn">Post Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Single Section End -->

<!-- Cta Section Begin -->
<div th:replace="~{fragments::cta-section}"></div>
<!-- Cta Section End -->

<!-- Footer Section Begin -->
<footer th:replace="~{fragments::footer}"></footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>