<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tattoos Maxim</title>
    <link href="img/logo.png" rel="icon" type="image/vnd.microsoft.icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<div th:replace="~{fragments::header}"></div>
<!-- Header End -->

<!-- Breadcrumb Section Begin -->
<section class="blog-single-hero set-bg" data-setbg="img/about-me.PNG">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 m-auto text-center">
                <div class="bs-hero-text">
                    <h2>Чернила жизни</h2>
                    <ul>
                        <li>R1-TАТТОO</li>
                        <li th:text="${#temporals.format(localDateTime, 'dd MMMM yyyy', new java.util.Locale('ru', 'RU'))}"></li>
                        <li th:text="${count} + ' ' + Отзывов"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->

<!-- Blog Single Section Begin -->
<section class="blog-single-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-single-text">
                    <div class="blog-text">
                        <p>Татуировки давно перестали быть просто украшением тела – они стали символом,
                            отражением внутреннего мира человека, его убеждений, воспоминаний и даже жизненных целей.
                            Эта статья посвящена глубокому анализу того, какую роль играют татуировки в современной культуре и обществе,
                            а также предлагает вдохновляющие истории тех, кто сделал себе татуировку в честь важных событий или людей.
                        </p>
                        <p>Таким образом, татуировки – это не просто рисунки на коже,
                            а отражение души и жизненного пути каждого человека.
                            Они могут рассказать историю, выразить чувства и напомнить о самых важных моментах жизни.</p>
                    </div>
                    <div class="blog-pic">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="img/blog-single-1.jpg" alt="">
                            </div>
                            <div class="col-lg-6">
                                <img src="img/blog-single-2.jpg" alt="">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img src="img/blog-single-3.jpg" alt="">
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="img/blog-single-4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-title">
                        <h4>Выбор студии и мастера</h4>
                        <p>Выбор студии и мастера – ключевой момент при создании татуировки.
                            Важно обратить внимание на репутацию салона, опыт работы мастеров и отзывы клиентов.
                            Также стоит учитывать стиль работы художника,
                            так как каждый мастер имеет свои особенности и предпочтения в дизайне.</p>
                        <p>Перед посещением салона рекомендуется ознакомиться с портфолио мастера,
                            задать вопросы о процессе работы и обсудить все детали будущего проекта.
                            Это поможет избежать неприятных сюрпризов и получить именно ту татуировку,
                            о которой вы мечтали. </p>
                    </div>
                    <div class="blog-quote">
                        <i class="fa fa-quote-left"></i>
                        <div class="quote-text">Татуировки – это способ выразить себя.
                            Они рассказывают историю твоей жизни, твои ценности и убеждения
                        </div>
                        <h5>Дэвид Бекхэм</h5>
                    </div>
                    <div class="blog-more-title">
                        <h4>Символика и значение татуировок в разных культурах</h4>
                        <p>Символы, используемые в татуировках, могут иметь разные значения в зависимости от культуры.
                            Например, лотос в индийской традиции символизирует чистоту и просветление,
                            тогда как в японской культуре он ассоциируется с верностью и преданностью.
                            Крест может означать христианскую веру, но в других контекстах он может символизировать защиту или возрождение.
                            Важно понимать, что каждый символ имеет свое уникальное значение,
                            которое может меняться в зависимости от контекста.</p>
                    </div>
                    <div class="blog-tag-share">
                        <div class="social-share">
                            <span>Следуй за мной:</span>
                            <a href="https://vk.com/r1tattoo"><i class="fa fa-vk"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-single-sidebar">
                    <div class="bs-latest-news">
                        <h4>Комментарии</h4>
                        <a href="#" class="bl-item set-bg" data-setbg="img/sidebar-latest.jpg">
                            <h5>Влюбился в свою новую татуировку! Спасибо тебе огромное!.</h5>
                            <span>Январь 31, 2019</span>
                        </a>
                        <a href="#" class="bl-item set-bg" data-setbg="img/sidebar-latest.jpg">
                            <h5>Спасибо за внимание к деталям! Моя новая татуировка выглядит идеально!</h5>
                            <span>Январь 31, 2019</span>
                        </a>
                        <a href="#" class="bl-item set-bg" data-setbg="img/sidebar-latest.jpg">
                            <h5>Больно, но стоит того! Теперь у меня есть шедевр на коже! </h5>
                            <span>Январь 31, 2019</span>
                        </a>
                        <a href="#" class="bl-item set-bg" data-setbg="img/sidebar-latest.jpg">
                            <h5>Великолепный мастер! Уже планирую следующую сессию!.</h5>
                            <span>Январь 31, 2019</span>
                        </a>
                    </div>
                    <div class="bs-recent-news">
                        <h4>Интересные работы</h4>
                        <a href="#" class="br-item">
                            <div class="bi-pic">
                                <img src="img/br-recent-1.jpg" alt="">
                            </div>
                            <div class="bi-text">
                                <span>Jan 31, 2024</span>
                                <h5>Есть вот такой проект. Готов сделать по вкусной цене. Но только 30 декабря.</h5>
                            </div>
                        </a>
                        <a href="#" class="br-item">
                            <div class="bi-pic">
                                <img src="img/br-recent-2.jpg" alt="">
                            </div>
                            <div class="bi-text">
                                <span>Jan 31, 2024</span>
                                <h5>Данный проект будет выполнен в единственном экземпляре!!!</h5>
                            </div>
                        </a>
                        <a href="#" class="br-item">
                            <div class="bi-pic">
                                <img src="img/br-recent-3.jpg" alt="">
                            </div>
                            <div class="bi-text">
                                <span>Jan 31, 2024</span>
                                <h5>Выполню за один сеанс!!!</h5>
                            </div>
                        </a>
                        <a href="#" class="br-item">
                            <div class="bi-pic">
                                <img src="img/br-recent-4.jpg" alt="">
                            </div>
                            <div class="bi-text">
                                <span>Jan 31, 2024</span>
                                <h5>Ещё один интересный проект по вкусной цене!!!</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="recent-news">
                    <h4>Новые работы</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="recent-item set-bg" data-setbg="img/recent-1.jpg">
                                <a href="#" class="recent-text">
                                    <div class="categories">Рысь</div>
                                    <h5>Это реалистичное изображение, выполненное в ярких теплых тонах.</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="recent-item set-bg" data-setbg="img/recent-2.jpg">
                                <a href="#" class="recent-text">
                                    <div class="categories">Лиса</div>
                                    <h5>Татуировка представляет собой голову лисы с огненными узорами</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="recent-item set-bg" data-setbg="img/recent-3.jpg">
                                <a href="#" class="recent-text">
                                    <div class="categories">Леопард</div>
                                    <h5>Леопард с ярко выраженными голубыми глазами</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="leave-comment-form">
                    <h4>Оставь комментарий</h4>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-12">
                                <textarea placeholder="Comment"></textarea>
                                <button type="submit" class="leave-btn">Post Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Single Section End -->

<!-- Cta Section Begin -->
<div th:replace="~{fragments::cta-section}"></div>
<!-- Cta Section End -->

<!-- Footer Section Begin -->
<footer th:replace="~{fragments::footer}"></footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>