<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="layout">
<head>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m,e,t,r,i,k,a){
            m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
        })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=112720696', 'ym');

        ym(112720696, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/112720696" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
    <meta name="description" content="Тату омск">
    <meta name="keywords" content="Тату, тату омск, тату салон омск, сделать тату">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>R1-TАТТОO/contact</title>
    <link href="img/logo.png" rel="icon" type="image/vnd.microsoft.icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/main.css}" type="text/css">
    <!-- Yandex.RTB -->
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <div th:replace="~{fragments::header}"></div>
    <!-- Header End -->

    <!-- Map Section Begin -->
    <div class="contact-map">
        <iframe
                src="https://yandex.ru/map-widget/v1/?ll=73.368229%2C54.987563&z=17&pt=73.368229%2C54.987563,pm2rdm&whatshere[point]=73.368229%2C54.987563&whatshere[zoom]=17"
                width="100%"
                height="530"
                frameborder="0"
                allowfullscreen>
        </iframe>
        <div class="map-hover">
            <div class="map-hover-content">
                <div class="map-hover-icon">
                    <i class="icon_pin_alt"></i>
                </div>
                <h5>Тату-студия Maxsim</h5>
                <p>г. Омск, ул. Лермонтова, д. 81</p>
                <ul class="work-time">
                    <li><span>Пн-Пт:</span> 09:00 - 18:00</li>
                    <li><span>Сб-Вс:</span> Выходной</li>
                </ul>
                <a href="https://yandex.ru/maps/?rtext=~73.368229%2C54.987563" target="_blank" class="map-btn">Построить маршрут</a>
            </div>
        </div>
    </div>
    <!-- Map Section End -->

    <!-- ContactController Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3" th:object="${contactInfo}">
                    <div class="contact-info">
                        <h4>Информация</h4>
                        <ul>
                            <li><i class="fa fa-phone"></i>[(*{tell})]</li>
                            <li><i class="fa fa-envelope"></i>[(*{email})]</li>
                        </ul>
                    </div>
                    <div class="contact-address">
                        <h4>Адрес</h4>
                        <ul>
                            <li><i class="fa fa-map-marker"></i>[(*{address})]</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="contact-form" th:fragment="contact-form">
                        <h4>Связаться</h4>
                        <form th:method="POST" th:onsubmit="sendMail(event, '.contact-form')" th:action="@{/contact/send-mail}" th:object="${details}">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input name="name" type="text" placeholder="Имя" required>
                                </div>
                                <div class="col-lg-6">
                                    <input name="subject" type="text" placeholder="Телефон" required>
                                </div>
                                <div class="col-lg-12">
                                    <textarea name="msgBody" placeholder="Текст" required></textarea>
                                    <button type="submit" class="c-btn">Отправить</button>
                                </div>
                                <div class="status-message" style="color: #FFFFFF" th:text="${status}"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ContactController Section End -->

    <!-- Cta Section Begin -->
    <section class="cta-section">
        <div class="container">
            <div class="row">
                <!-- Yandex.RTB R-A-9839314-3 -->
                <div id="yandex_rtb_R-A-9839314-3"></div>
                <script>
                    window.yaContextCb.push(()=>{
                        Ya.Context.AdvManager.render({
                            "blockId": "R-A-9839314-3",
                            "renderTo": "yandex_rtb_R-A-9839314-3"
                        })
                    })
                </script>
            </div>
        </div>
    </section>
    <!-- Cta Section End -->

    <!-- Footer Section Begin -->
    <div class="footer-section">
        <div th:replace="~{fragments::footer}"></div>
    </div>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>