<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ошибка 404</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f9f9f9;
            color: #333;
        }
        h1 {
            margin-top: 100px;
            font-size: 48px;
        }
        p {
            font-size: 24px;
        }
    </style>
</head>
<body>
<h1>Упс! Страница не найдена.</h1>
<p>К сожалению, запрашиваемая вами страница не существует. Попробуйте вернуться на главную или проверить правильность введенного URL-адреса.</p>
<a href="/">Вернуться на главную</a>
</body>
</html>