<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ошибка сервера</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="error-container">
    <div class="error-icon">
        <i class="fa fa-warning"></i>
    </div>
    <div class="error-code">500</div>
    <h1>Внутренняя ошибка сервера</h1>
    <p class="error-message" th:text="${errorMessage}">Что-то пошло не так. Мы уже работаем над исправлением.</p>
    <p class="error-message">Пожалуйста, попробуйте позже или свяжитесь с администратором.</p>
    <div th:if="${errorDetails}" class="error-details" th:text="${errorDetails}"></div>
    <a href="/" class="home-link">Вернуться на главную</a>
</div>
</body>
</html>