<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Header Section Begin -->
<div class="header-section header-normal" th:fragment="header">

    <div class="container-fluid">
        <div class="logo">
            <a href="/">
                <img src="img/logo.png" alt="">
            </a>
        </div>
        <div class="top-social">
            <a href="https://wa.me/79620490947" target="_blank"><i class="fa fa-whatsapp"></i></a>
            <a sec:authorize="!isAuthenticated()" href="/login"><i class="fa fa-user" aria-hidden="true"></i></a>
            <a sec:authorize="isAuthenticated()" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            <a sec:authorize="hasAuthority('ADMIN')" href="/admin"><i class="fa fa-cogs" aria-hidden="true"></i></a>
            <a sec:authorize="hasAuthority('USER')" href="/lk"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
        </div>
        <div class="container">
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li th:classappend="${servletPath == '/gallery' ? 'active':''}"><a href="/gallery">Галерея</a>
                        </li>
                        <li th:classappend="${servletPath == '/sketches' ? 'active':''}"><a href="/sketches">Эскизы</a>
                        </li>
                        <li th:classappend="${servletPath == '/about-me' ? 'active':''}"><a href="/about-me">О бо
                            мне</a></li>
                        <li th:classappend="${servletPath == '/blog' ? 'active':''}"><a href="/blog">Блог</a></li>
                        <li th:classappend="${servletPath == '/reviews' ? 'active':''}"><a href="/reviews">Отзывы</a>
                        </li>
                        <li th:classappend="${servletPath == '/contact' ? 'active':''}"><a href="/contact">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</div>
<!-- Header End -->
<!-- Cta Section Begin -->
<section class="cta-section" th:fragment="cta-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-text">
                    <h3>Сделай сегодня</h3>
                    <p>Специальное предложение! Скидка 10% при регистрации на сайте!</p>
                </div>
                <a href="/registration" class="primary-btn cta-btn">Регистрация</a>
            </div>
        </div>
    </div>
</section>
<!-- Cta Section End -->
<!-- Footer Section Begin -->
<footer class="footer-section" th:fragment="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <div class="footer-logo-item">


                    <div class="f-logo">
                        <a href="/"><img src="img/logo.png" alt=""></a>
                    </div>
                    <div class="social-links">
                        <h6>Следуй за мной</h6>
                        <a href="https://vk.com/r1tattoo"><i class="fa fa-vk"></i></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer-widget">
                    <p>Процесс создания татуировки довольно сложный и ответственный. Чтобы создать качественное
                        изображение, которое будет радовать вас всю жизнь, мастер должен учесть множество факторов.
                        Важно правильно подобрать эскиз, цветовую гамму, размер и место для будущей тату. Также
                        необходимо выбрать подходящий стиль и технику нанесения. В результате вы получите уникальный
                        рисунок, который будет подчеркивать вашу индивидуальность и придавать уверенности в себе..</p>

                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>Стили</h5>
                    <ul class="workout-program">
                        <li><a href="/gallery">Классический</a></li>
                        <li><a href="/gallery">Винтажный</a></li>
                        <li><a href="/gallery">Граффити</a></li>
                        <li><a href="/gallery">Готический</a></li>
                        <li><a href="/gallery">Кельтский</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h5>ПОЛУЧИТЬ ИНФОРМАЦИЮ</h5>
                    <ul class="footer-info" th:object="${contactInfo}">
                        <li id="tell-footer">
                            <i class="fa fa-phone"></i>
                            <span>Телефон:</span>
                            [(*{tell})]
                        </li>
                        <li id="email-footer">
                            <i class="fa fa-envelope-o"></i>
                            <span>Email:</span>
                            [(*{email})]
                        </li>
                        <li id="address-footer">
                            <i class="fa fa-map-marker"></i>
                            <span>Адрес</span>
                            [(*{address})]
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="ct-inside">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<!-- first-fragment Section -->
<div th:fragment="first-fragment">
    <h6>Мой тату </h6>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3 scroll-container ">

        <div class="col gallery  user-img"  th:each="current : ${images}">

            <div class="gallery-user">
                <img alt="" th:src="@{'/images/'+${current.imageName}}">
            </div>
            <!-- Добавьте больше элементов, если нужно -->

        </div>

    </div>

    <div class="row">
        <div class="review">
            <div class="mb-3">
                <label class="form-label">Загрузить свое тату</label>
                <input type="file" id="user-tattoos" name="file" required>
                <button class="btn btn-outline-secondary" type="button" id="input-user-tattoos">Сохранить</button>
            </div>
        </div>
    </div>

</div>
<div class="profile-editing" th:fragment="profile-editing">
    <h6>Редактирование профиля </h6>
    <div class="row">
    <form action="#" method="post" id="profile-form"  th:object="${UserDTO}">
        <label for="username">Имя пользователя:</label>
        <input type="text" th:field="*{login}" id="username" name="username" placeholder="Введите ваше имя пользователя" required><br><br>

        <label for="email"  >Email:</label>
        <input type="email" th:field="*{email}" id="email" name="email" placeholder="Введите ваш email" required><br><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" placeholder="Введите новый пароль"><br><br>

        <label for="confirm-password">Подтверждение пароля:</label>
        <input type="password" id="confirm-password" name="confirm-password"
               placeholder="Повторите новый пароль"><br><br>

        <button class="btn leave-btn btn-block" type="submit">Сохранить изменения</button>
    </form>
    </div>
    <div class="row">
        <div class="review">
            <div class="mb-3">
                <label class="form-label">Загрузить аватар</label>
                <input type="file" id="avatar" name="file" required>
            <button class="btn btn-outline-secondary" type="button" id="input-avatar">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<div th:fragment="second-fragment">
    <h6>Мой тату </h6>
    <div class="row scroll-container">

        <section class="review">
            <div class="review-header">
                <img src="images/user1.jpg" alt="Фото автора отзыва" class="avatar">
                <div class="author-info">
                    <h2>Иван Иванов</h2>
                    <p>20 мая 2023 года</p>
                </div>
            </div>
            <p class="review-text">Отличный сервис! Быстрое обслуживание и вежливое отношение персонала. Буду обращаться
                еще!</p>
        </section>

        <section class="review">
            <div class="review-header">
                <img src="images/user2.jpg" alt="Фото автора отзыва" class="avatar">
                <div class="author-info">
                    <h2>Марина Петрова</h2>
                    <p>10 июня 2023 года</p>
                </div>
            </div>
            <p class="review-text">Прекрасная атмосфера и уютное место. Качество продуктов на высоте. Рекомендую
                всем!</p>
        </section>

        <section class="review">
            <div class="review-header">
                <img src="images/user3.jpg" alt="Фото автора отзыва" class="avatar">
                <div class="author-info">
                    <h2>Алексей Сидоров</h2>
                    <p>30 июля 2023 года</p>
                </div>
            </div>
            <p class="review-text">Очень доволен работой команды. Все сделано качественно и в срок. Спасибо за
                профессионализм!</p>
        </section>
    </div>
    <div class="row">

            <div class="review">
                <form id="reviews">
                    <div class="row">
                        <div class="mb-3">
                            <label for="avatar" class="form-label">Ваш URL-адрес</label>
                            <div class="input-group">
                            <input type="file" id="avatar" name="file" required>
                            <button class="btn btn-outline-secondary" type="button" id="input-avatar">Сохранить</button>
                            </div>
                        </div>
                        <div class="input-group">
                            <textarea class="form-control" aria-label="С текстовым полем" placeholder="Текст" id="Comment" name="Comment" required></textarea>
                        </div>
                    </div>
                </form>
            </div>

    </div>
</div>
<!-- first-fragment Section End -->
</body>
</html>