<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Header Section Begin -->
<div class="header-section header-normal" th:fragment="header">
    <div class="container-fluid">
        <div class="logo" th:each="current: ${setting}" th:if="${current.section=='logo'}">
            <a href="/">
                <img id="logo-header" th:src="@{'/images/'+${current.imageName}}" alt="">
            </a>
        </div>
        <div class="top-social">
            <a href="https://wa.me/79620490947" target="_blank"><i class="fa fa-whatsapp"></i></a>
            <a sec:authorize="!isAuthenticated()" href="/login"><i class="fa fa-user" aria-hidden="true"></i></a>
            <a sec:authorize="isAuthenticated()" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            <a sec:authorize="hasAuthority('ADMIN')" href="/admin"><i class="fa fa-cogs" aria-hidden="true"></i></a>
            <a sec:authorize="hasAuthority('USER')" href="/lk"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
        </div>
        <div class="container">
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li th:classappend="${servletPath == '/gallery' ? 'active':''}"><a href="/gallery">Галерея</a>
                        </li>
                        <li th:classappend="${servletPath == '/sketches' ? 'active':''}"><a href="/sketches">Эскизы</a>
                        </li>
                        <li th:classappend="${servletPath == '/about-me' ? 'active':''}"><a href="/about-me">О бо
                            мне</a></li>
                        <li th:classappend="${servletPath == '/blog' ? 'active':''}"><a href="/blog">Блог</a></li>
                        <li th:classappend="${servletPath == '/reviews' ? 'active':''}"><a href="/reviews">Отзывы</a>
                        </li>
                        <li th:classappend="${servletPath == '/contact' ? 'active':''}"><a href="/contact">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</div>
<!-- Header End -->
<!-- Cta Section Begin -->
<section class="cta-section" th:fragment="cta-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-text">
                    <h3>Сделай сегодня</h3>
                    <p>Специальное предложение! Скидка 10% при регистрации на сайте!</p>
                </div>
                <a href="/registration" class="primary-btn cta-btn">Регистрация</a>
            </div>
        </div>
    </div>
</section>
<!-- Cta Section End -->
<!-- Footer Section Begin -->
<div class="container" th:fragment="footer">
    <div class="row">
        <div class="col-lg-3">
            <div class="footer-logo-item" th:each="current: ${setting}">
                <div class="f-logo" th:if="${current.section=='logo'}">
                    <a href="/"><img id="logo-footer" th:src="@{'/images/'+${current.imageName}}" alt=""></a>
                </div>
                <div class="social-links" th:if="${current.section=='footer-title'}">
                    <h6 th:text="${current.textH1}"></h6>
                    <a href="https://vk.com/r1tattoo"><i class="fa fa-vk"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="footer-widget" th:each="current: ${setting}" th:if="${current.section=='footer-title'}">
                <p th:text="${current.textH2}"></p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="footer-widget">
                <h5>Стили</h5>
                <ul class="workout-program">
                    <li><a href="/gallery">Классический</a></li>
                    <li><a href="/gallery">Винтажный</a></li>
                    <li><a href="/gallery">Граффити</a></li>
                    <li><a href="/gallery">Готический</a></li>
                    <li><a href="/gallery">Кельтский</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="footer-widget">
                <h5>ПОЛУЧИТЬ ИНФОРМАЦИЮ</h5>
                <ul class="footer-info" th:object="${contactInfo}">
                    <li id="tell-footer">
                        <i class="fa fa-phone"></i>
                        <span>Телефон:</span>
                        [(*{tell})]
                    </li>
                    <li id="email-footer">
                        <i class="fa fa-envelope-o"></i>
                        <span>Email:</span>
                        [(*{email})]
                    </li>
                    <li id="address-footer">
                        <i class="fa fa-map-marker"></i>
                        <span>Адрес</span>
                        [(*{address})]
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyright-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="ct-inside">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                        aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Section End -->
<div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true" th:fragment="modal">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Выберите изображение</h5>
                <button type="button"
                        onclick="closeModal()"
                        class="delete-button btn-close-custom"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="gallery-filter-modal">
                        <div class="row gallery-filter" th:each="currents: ${gallery.galleryImg}">
                            <div class="col-lg-4 col-sm-6 mix" th:each="img: ${currents}">
                                <div class="gallery-modal-item">
                                    <img onclick="selectReviewImage(this.alt)"
                                         th:alt="${img.imageName}"
                                         th:src="@{'/images/'+${img.imageName}}"
                                         class="gallery-modal-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="blog-option">
                    <div class="blog-pagination">
                        <a th:if="${gallery.currentPage != 0}"
                           th:onclick="goToPageGalleryReviews([[${gallery.currentPage - 1}]], [[${gallery.number}]])"
                           class="page-nav">
                            <i class="fa fa-long-arrow-left"></i>
                        </a>
                        <a class="active">[[${gallery.currentPage + 1}]]</a>
                        <span class="page-separator">из</span>
                        <a>[[${gallery.pageSize}]]</a>
                        <a th:if="${gallery.currentPage + 1 != gallery.pageSize}"
                           th:onclick="goToPageGalleryReviews([[${gallery.currentPage + 1}]], [[${gallery.number}]])"
                           class="page-nav">
                            <i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                    <div class="blog-option-right">
                        <div class="blog-result">
                            Показано [[${gallery.currentPage * gallery.number + 1}]]–[[${gallery.currentPage *
                            gallery.number + gallery.number}]]
                            из [[${gallery.imagesTotal}]]
                        </div>
                        <div class="show-result">
                            <span class="show-label">Показывать по:</span>
                            <select class="show-result-select"
                                    th:onchange="goToPageGalleryReviews([[${gallery.currentPage}]], this.value)"
                                    id="modalNumber">
                                <option th:each="option : ${gallery.select}"
                                        th:value="${option}"
                                        th:text="${option}"
                                        th:selected="${option == gallery.number}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно End -->
<!-- Общий фрагмент галереи - работает и для админа, и для пользователя -->
<div th:fragment="galleryGrid(galleryData, isAdmin)">
    <div class="row gallery-filter" th:each="row : ${gallery.galleryImg}">
        <div th:each="img : ${row}" class="col-lg-4 col-sm-6"
             th:classappend="${img.category} ? ${img.category.toLowerCase().replace(' ', '-')} : 'uncategorized'"
             th:attr="data-id=${img.id}">

            <div class="gallery-item">
                <img th:src="@{'/images/' + ${img.imageName}}"
                     th:alt="${img.description}"
                     class="gallery-img">

                <div class="gi-hover-warp">
                    <div class="gi-hover">
                        <a th:href="@{'/images/' + ${img.imageName}}" class="image-popup">
                            <i class="fa fa-search-plus"></i>
                        </a>
                        <h6 th:text="${img.description}">Описание</h6>
                    </div>
                </div>

                <!-- Админские элементы (видны только админу) -->
                <div th:if="${isAdmin}" class="admin-controls">
                    <button class="delete-item-btn"
                            th:id="${img.id}"
                            data-fragment-name="galleryGridContainer"
                            data-container-selector=".galleryFragment"
                            data-deletion-url="/admin/gallery/delete-section"
                            onclick="deleteImage(this)"
                            title="Удалить">
                        <i class="fa fa-trash"></i>
                    </button>

                    <div class="featured-checkbox-wrapper">
                        <label>
                            <input class="featured-checkbox" type="checkbox"
                                   th:checked="${img.flag}"
                                   th:data-id="${img.id}"
                                   onchange="toggleFeatured(this)"/>
                            <span>Лучшее тату</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Пагинация -->
    <div class="blog-option" th:with="isAdmin = ${isAdmin}">
        <div class="blog-pagination">
            <!-- Кнопка "Назад" -->
            <a th:if="${gallery.currentPage != 0}"
               class="page-nav"
               data-style="all"
               th:data-page="${gallery.currentPage - 1}"
               th:data-size="${gallery.number}"
               th:data-url="${isAdmin} ? '/admin/gallery' : '/gallery'"
               th:data-container="${isAdmin} ? '.galleryFragment' : '.galleryFilter'"
               onclick="goToGalleryPageFromElement(this)">
                <i class="fa fa-chevron-left"></i>
            </a>

            <!-- Текущая страница -->
            <a class="active" th:text="${gallery.currentPage + 1}">1</a>

            <!-- Разделитель -->
            <span class="page-separator">из</span>

            <!-- Всего страниц -->
            <a th:text="${gallery.pageSize}">10</a>

            <!-- Кнопка "Вперед" -->
            <a th:if="${gallery.currentPage + 1 != gallery.pageSize}"
               class="page-nav"
               th:data-page="${gallery.currentPage + 1}"
               th:data-size="${gallery.number}"
               th:data-url="${isAdmin} ? '/admin/gallery' : '/gallery'"
               th:data-container="${isAdmin} ? '.galleryFragment' : '.galleryFilter'"
               onclick="goToGalleryPageFromElement(this)">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>

        <!-- Настройки отображения -->
        <div class="blog-option-right">
            <div class="blog-result">
                Показано [[${gallery.currentPage * gallery.number + 1}]]–
                [[${gallery.currentPage * gallery.number +
                gallery.number > gallery.imagesTotal ? gallery.imagesTotal : gallery.currentPage * gallery.number +
                gallery.number}]]
                из [[${gallery.imagesTotal}]] работ
            </div>
            <div class="show-result">
                <label for="gallerySize" class="show-result-label">Показывать:</label>
                <select id="gallerySize"
                        class="show-result-select no-nice-select"
                        data-style="all"
                        th:data-page="${gallery.currentPage}"
                        th:data-size="${gallery.number}"
                        th:data-url="${isAdmin} ? '/admin/gallery' : '/gallery'"
                        th:data-container="${isAdmin} ? '.galleryFragment' : '.galleryFilter'"
                        onchange="goToGalleryPageFromElement(this)">
                    <option th:each="option : ${gallery.select}"
                            th:value="${option}"
                            th:text="${option}"
                            th:selected="${option == gallery.number}">
                    </option>
                </select>
            </div>
        </div>
    </div>

    <!-- Пустое состояние -->
    <div th:if="${gallery == null or gallery.galleryImg == null or gallery.galleryImg.isEmpty()}"
         class="empty-gallery text-center">
        <i class="fa fa-image fa-4x"></i>
        <h4>Нет изображений в галерее</h4>
        <p>Изображения появятся здесь после добавления</p>
    </div>
</div>
<!-- Общий фрагмент галереи End -->
<!-- Общий фрагмент эскизов - работает и для админа, и для пользователя -->
<!-- Сетка эскизов -->
<div th:fragment="sketchesGrid(sketchesData, isAdmin)">
    <div class="row sketches-filter" th:each="row : ${sketches.sketchesImg}">
        <div th:each="currents : ${row}" class="col-lg-4 col-sm-6">
            <div class="sketches-item">
                <img th:src="@{'/images/' + ${currents.imageName}}"
                     th:alt="${currents.description}"
                     class="sketches-img">

                <div class="si-hover-warp">
                    <div class="si-hover">
                        <a th:href="@{'/images/' + ${currents.imageName}}"
                           class="image-popup" target="_blank">
                            <i class="fa fa-search-plus"></i>
                        </a>
                        <h6 th:text="${currents.description}">Описание</h6>
                    </div>
                </div>

                <!-- Админские элементы (видны только админу) -->
                <div th:if="${isAdmin}"  class="admin-controls">
                    <button class="delete-item-btn"
                            th:id="${currents.id}"
                            data-fragment-name="sketches"
                            data-container-selector=".sketchesFragment"
                            data-deletion-url="/admin/sketches/delete-section"
                            onclick="deleteImage(this)"
                            title="Удалить">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- Пагинация -->
    <div th:if="${sketches.sketchesImg != null and !sketches.sketchesImg.empty}" class="sketches-pagination">
        <div class="blog-pagination">
            <!-- Кнопка "Назад" -->
            <a th:if="${sketches.currentPage != 0}"
               class="page-nav"
               data-style="all"
               th:data-page="${sketches.currentPage - 1}"
               th:data-size="${sketches.number}"
               th:data-url="${isAdmin} ? '/admin/sketches' : '/sketches'"
               th:data-container="${isAdmin} ? '.sketchesFragment' : '.galleryFilter'"
               onclick="goToPageSketches(this)">
                <i class="fa fa-chevron-left"></i>
            </a>

            <!-- Текущая страница -->
            <a class="active" th:text="${sketches.currentPage + 1}">1</a>

            <!-- Разделитель -->
            <span class="page-separator">из</span>

            <!-- Всего страниц -->
            <a th:text="${sketches.pageSize}">10</a>

            <!-- Кнопка "Вперед" -->
            <a th:if="${sketches.currentPage + 1 != sketches.pageSize}"
               class="page-nav"
               th:data-page="${sketches.currentPage + 1}"
               th:data-size="${sketches.number}"
               th:data-url="${isAdmin} ? '/admin/sketches' : '/sketches'"
               th:data-container="${isAdmin} ? '.sketchesFragment' : '.galleryFilter'"
               onclick="goToPageSketches(this)">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>

        <div class="blog-option-right">
            <div class="blog-result">
                Показано [[${sketches.currentPage * sketches.number + 1}]]–
                [[${sketches.currentPage * sketches.number +
                sketches.number > sketches.imagesTotal ? sketches.imagesTotal : sketches.currentPage * sketches.number +
                sketches.number}]]
                из [[${sketches.imagesTotal}]] работ
            </div>
            <div class="show-result">
                <label for="sketchesSize" class="show-result-label">Показывать:</label>
                <select id="sketchesSize"
                        class="show-result-select no-nice-select"
                        data-style="all"
                        th:data-page="${sketches.currentPage}"
                        th:data-size="${sketches.number}"
                        th:data-url="${isAdmin} ? '/admin/sketches' : '/sketches'"
                        th:data-container="${isAdmin} ? '.sketchesFragment' : '.galleryFilter'"
                        onchange="goToPageSketches(this)">
                    <option th:each="option : ${sketches.select}"
                            th:value="${option}"
                            th:text="${option}"
                            th:selected="${option == sketches.number}">
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>
<!-- Общий фрагмент галереи End -->
</body>
</html>