<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="f8b395847f7983f2"/>
    <meta name="google-site-verification" content="ak05GnsY8ILSGx7kzGGDnbi8c1VZSEB62dR0KH595_U"/>
    <meta name="zen-verification" content="Qs3KIKkBpZHRG9QIS3E1heKpO8wXZqWQbhTTWt7wQrr7XB6Iexi1cA15htzot9cG"/>
    <meta name="description" content="Тату омск">
    <meta name="keywords"
          content="Татуировка,сколько стоит татуировка,татуировка цена,татуировка на руке,тату на твоем теле, татуировка омск, тату салон, сделать татуировку">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tattoos Maxim</title>
    <link href="img/logo.png" rel="icon" type="image/vnd.microsoft.icon">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://vk.com/js/api/videoplayer.js"></script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section ">
    <div class="container-fluid">
        <div class="logo">
            <a href="/">
                <img src="img/logo.png" alt="">
            </a>
        </div>
        <div class="top-social">
            <a href="https://wa.me/9069917226" target="_blank"><i class="fa fa-whatsapp"></i></a>
            <a sec:authorize="!isAuthenticated()" href="/login"><i class="fa fa-user" aria-hidden="true"></i></a>
            <a sec:authorize="isAuthenticated()" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            <a sec:authorize="hasAuthority('ADMIN')" href="/admin"><i class="fa fa-cogs" aria-hidden="true"></i></a>

        </div>
        <div class="container">
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li class="active"><a href="/">Главная</a></li>
                        <li><a href="/gallery">Галерея</a></li>
                        <li><a href="/sketches" >Эскизы</a></li>
                        <li><a href="/about-me">О бо мне</a></li>
                        <li><a href="/blog">Блог</a></li>
                        <li><a href="/contact">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-item set-bg" data-setbg="img/hero-slider/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-text">
                            <h2>Ваша кожа — чистый холст, а я — художник.</h2>
                            <h1>ТАТУИРОВКА - ЭТО НЕ ПРОСТО РИСУНОК НА ТЕЛЕ</h1>
                            <a href="/gallery" class="primary-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-item set-bg" data-setbg="img/hero-slider/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-text">
                            <h2>Ваша кожа — чистый холст, а я — художник.</h2>
                            <h1>ТАТУИРОВКА - ЭТО НЕ ПРОСТО РИСУНОК НА ТЕЛЕ</h1>
                            <a href="/gallery" class="primary-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-item set-bg" data-setbg="img/hero-slider/hero-3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-text">
                            <h2>Ваша кожа — чистый холст, а я — художник.</h2>
                            <h1>ТАТУИРОВКА - ЭТО НЕ ПРОСТО РИСУНОК НА ТЕЛЕ</h1>
                            <a href="/gallery" class="primary-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero End -->

<!-- Feature Section Begin -->
<section class="feature-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="feature-item set-bg" data-setbg="img/feature/feature-1.jpg">
                    <h3>ИНДИВИДУАЛЬНЫЙ ЭСКИЗ</h3>
                    <p>Разработка эскиза с учетом пожеланий клиента</p>
                    <a href="/sketches" class="primary-btn f-btn">Подробнее</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-item set-bg" data-setbg="img/feature/feature-2.jpg">
                    <h3>КОНСУЛЬТАЦИЯ</h3>
                    <p>Помогаю определится с идеей эскиза, ориентирую по стоимости и количеству сеансов.</p>
                    <a href="/gallery" class="primary-btn f-btn">Подробнее</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-item set-bg" data-setbg="img/feature/feature-3.jpg">
                    <h3>ТАТУ В ДЕНЬ ОБРАЩЕНИЯ</h3>
                    <p>Свободные скетчи по выгодной стоимости</p>
                    <a href="/gallery" class="primary-btn f-btn">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Section End -->

<!-- About Section Begin -->
<section class="home-about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <h3 style="color: #FFFFFF;">«ТАТУИРОВКА — ЭТО НАВСЕГДА»</h3>
                    <p class="short-details">Сделайте татуировку, которую вы сможете носить всю жизнь</p>
                    <p class="long-details">Ты набиваешь себе татуировку,
                        зная, что это тело принадлежит тебе, и ты можешь наслаждаться им,
                        пока ты здесь. Вы получаете от этого удовольствие,
                        и никто другой не может (предположительно) контролировать то, что вы с ним делаете.
                        Татуировки это выражение свободы — одно из немногих проявлений свободы. </p>
                    <a href="/gallery" class="primary-btn about-btn">Узнать больше</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="img/home-about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- Classes Section Begin -->
<section class="classes-section">
    <div class="class-title set-bg" data-setbg="img/classes-title-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 m-auto text-center">
                    <div class="section-title pl-lg-4 pr-lg-4 pl-0 pr-0">
                        <h2>ВЫБЕРИТЕ СВОЮ ТАТУ</h2>
                        <p>Я могу помочь вам с другими вопросами о татуировках,
                            предложить идеи для дизайна,
                            рассказать о процессе нанесения татуировки или дать советы по уходу за ней.
                            Есть что-то конкретное, с чем я могу помочь?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="classes-item set-bg" data-setbg="img/classes/class-1.jpg">
                    <h4>1. Предплечье:</h4>
                    <p>это одно из самых популярных мест для татуировок, особенно среди мужчин.
                        Татуировка на предплечье легко видна и может быть выполнена в различных размерах и дизайнах.</p>
                    <a href="/gallery" class="primary-btn class-btn">Подробнее</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="classes-item set-bg" data-setbg="img/classes/class-2.jpg">
                    <h4>2. Запястье:</h4>
                    <p>татуировка на запястье также является популярным выбором,
                        особенно среди женщин. Она может быть выполнена в виде браслета или небольшой надписи.
                    </p>
                    <a href="/gallery" class="primary-btn class-btn">Подробнее</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="classes-item set-bg" data-setbg="img/classes/class-3.jpg">
                    <h4>3. Спина:</h4>
                    <p>татуировка на спине позволяет использовать большое пространство для создания больших и детальных
                        изображений.
                        Это также отличное место для скрытия татуировки.</p>
                    <a href="/gallery" class="primary-btn class-btn">Подробнее</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="classes-item set-bg" data-setbg="img/classes/class-4.jpg">
                    <h4>4. Грудь:</h4>
                    <p>татуировка на груди может быть выполнена в виде большой картины или нескольких маленьких
                        изображений.
                        Это место также подходит для скрытия татуировки под одеждой.</p>
                    <a href="/gallery" class="primary-btn class-btn">Подробнее</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="classes-item set-bg" data-setbg="img/classes/class-5.jpg">
                    <h4>5. Ноги:</h4>
                    <p>татуировки на ногах, включая бедра, икры и стопы, становятся все более популярными.
                        Они могут быть выполнены в виде узоров, животных или других изображений.</p>
                    <a href="/gallery" class="primary-btn class-btn">Подробнее</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="classes-item set-bg" data-setbg="img/classes/class-6.jpg">
                    <h4>6. Руки:</h4>
                    <p>татуировки на руках, включая плечи, бицепсы и предплечья, являются классическим выбором.
                        Они могут быть выполнены в виде надписей, символов или сложных изображений.
                    </p>
                    <a href="/gallery" class="primary-btn class-btn">Подробнее</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="classes-item set-bg" data-setbg="img/classes/class-7.jpg">
                    <h4>7. Шея:</h4>
                    <p>татуировки на шее могут быть выполнены в виде небольших надписей или узоров.
                        Tатуировки на шее могут быть заметны и вызывать внимание
                        окружающих.</p>
                    <a href="/gallery" class="primary-btn class-btn">Подробнее</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="classes-item set-bg" data-setbg="img/classes/class-8.jpg">
                    <h4>8. Ребра:</h4>
                    <p>татуировки на ребрах, известные как "side boob", стали очень популярными в последние годы.
                        Они могут быть выполнены в виде узоров, надписей или изображений.</p>
                    <a href="/gallery" class="primary-btn class-btn">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Classes Section End -->

<!-- Price Plan Section Begin -->
<section class="price-section spad set-bg" data-setbg="img/price-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>ЦЕНЫ И УСЛУГИ</h2>
                    <p>Стоимость татуировки может сильно варьироваться в зависимости от многих факторов,
                        таких как размер, сложность дизайна, опыт мастера.
                        В среднем, стоимость одной татуировки может начинаться от 2000 рублей и достигать до 20 000
                        рублей и выше,
                        в зависимости от всех этих факторов</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-price-plan">
                    <h4>Эскиз</h4>
                    <div class="price-plan">
                        <h2>от 1000р </h2>
                        <p>Бесплатная консультация</p>
                    </div>
                    <ul>
                        <li>Индивидуальность</li>
                        <li>Эксклюзивность</li>
                    </ul>
                    <a href="/contact" class="primary-btn price-btn">Начать</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price-plan">
                    <h4>Татуировка</h4>
                    <div class="price-plan">
                        <h2>от 1000р</h2>
                        <p>Бесплатная консультация</p>
                    </div>
                    <ul>
                        <li>Привлечь внимание</li>
                        <li>Подчеркнуть красоту</li>
                    </ul>
                    <a href="/contact" class="primary-btn price-btn">Начать</a>
                    <div class="tic-text">
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price-plan">
                    <h4>Перекрытие</h4>
                    <div class="price-plan">
                        <h2>от 1000р</h2>
                        <p>Бесплатная консультация</p>
                    </div>
                    <ul>
                        <li>Исправление ошибок</li>
                        <li>Изменение стиля</li>
                    </ul>
                    <a href="/contact" class="primary-btn price-btn">Начать</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Price Plan Section End -->

<!-- Choseus Section Begin -->
<section class="chooseus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Почему выбирают меня</h2>
                    <p>Я могу привести несколько причин, почему именно меня следует выбрать в качестве мастера
                        татуировок:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="choose-item">
                    <img src="img/icons/chose-icon-1.png" alt="">
                    <h5>1. Опыт и профессионализм:</h5>
                    <p>Я имею многолетний опыт работы в сфере татуировок и постоянно совершенствую свои навыки.
                        Могу гарантировать качественное выполнение работы и учет всех ваших пожеланий.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="choose-item">
                    <img src="img/icons/chose-icon-2.png" alt="">
                    <h5>2. Креативность:</h5>
                    <p>Я всегда открыт для новых идей и готов работать вместе с вами,
                        чтобы создать уникальный и индивидуальный дизайн татуировки, который будет отражать вашу
                        личность и стиль.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="choose-item">
                    <img src="img/icons/chose-icon-3.png" alt="">
                    <h5>3. Безопасность:</h5>
                    <p>Я строго соблюдаю все нормы гигиены и безопасности, использую только высококачественные материалы
                        и инструменты,
                        чтобы минимизировать риск инфекции и обеспечить комфорт во время процедуры.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="choose-item">
                    <img src="img/icons/chose-icon-4.png" alt="">
                    <h5>4. Комфортная атмосфера:</h5>
                    <p>Я стараюсь создать дружественную и расслабляющую атмосферу в студии,
                        чтобы вы чувствовали себя комфортно и уверенно во время сеанса татуировки.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="choose-item">
                    <img src="img/icons/chose-icon-5.png" alt="">
                    <h5>5. Индивидуальный подход:</h5>
                    <p>Я ценю каждого клиента и стремлюсь предоставить индивидуальный подход к каждому проекту.
                        Ваше удовлетворение и радость от результата являются моей главной целью.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="choose-item">
                    <img src="img/icons/chose-icon-6.png" alt="">
                    <h5>5. Стоимость:</h5>
                    <p>Цена должна быть разумной и соответствовать качеству работы.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="about-text">
                    <p class="short-details">Выбор мастера татуировок - это очень важный шаг, и я надеюсь, что мои
                        качества и подходы помогут вам принять решение в мою пользу.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choseus Section End -->

<!-- Video Section Begin -->
<section class="video-section set-bg" data-setbg="img/video-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video-text">
                    <h2>Немного видео</h2>
                    <a href="https://vk.com/video_ext.php?oid=-174808662&id=456239081&hash=b2f7acf9981a0447" width="333"
                       height="660" frameborder="0" allowfullscreen="1"
                       allow="autoplay; encrypted-media; fullscreen; picture-in-picture" class="play-btn video-popup">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Video Section End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>РЕАЛЬНЫЕ ОТЗЫВЫ</h2>
                    <p>Я очень дорожу вашим мнением</p>
                </div>
            </div>
        </div>
        <div class="row blog-gird">
            <div class="grid-sizer"></div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="blog-item large-item set-bg" th:each="current, item : ${reviewsLimit}"
                     th:if="${item.index == 0}" th:attr="data-setbg=@{'/images/'+${current.imageName}}">
                    <a href="/reviews" class="blog-text">
                        <div class="categories" th:text="${current.userName}"></div>
                        <h5 th:text="${current.comment}"></h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="blog-item instagram-item">
                    <a href="#" class="instagram-text">
                        <div class="categories">«Красота в деталях» <i href="https://vk.com/r1tattoo"
                                                                       class="fa fa-vk"></i></div>
                    </a>
                    <a href="/reviews" class="blog-text">
                        <h5>Оставьте отзыв, получите скидку</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="blog-item large-item set-bg" th:each="current, item : ${reviewsLimit}"
                     th:if="${item.index == 1}" th:attr="data-setbg=@{'/images/'+${current.imageName}}">
                    <a href="/reviews" class="blog-text">
                        <div class="categories" th:text="${current.userName}"></div>
                        <h5 th:text="${current.comment}"></h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="blog-item large-item xls-large set-bg" data-setbg="img/blog/blog-3.jpg">
                    <a href="/reviews" class="blog-text">
                        <h5>Все отзывы</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="blog-item large-item set-bg" th:each="current, item : ${reviewsLimit}"
                     th:if="${item.index == 2}" th:attr="data-setbg=@{'/images/'+${current.imageName}}">
                    <a href="/reviews" class="blog-text">
                        <div class="categories" th:text="${current.userName}"></div>
                        <h5 th:text="${current.comment}"></h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="blog-item large-item set-bg" th:each="current, item : ${reviewsLimit}"
                     th:if="${item.index == 3}" th:attr="data-setbg=@{'/images/'+${current.imageName}}">
                    <a href="/reviews" class="blog-text">
                        <div class="categories" th:text="${current.userName}"></div>
                        <h5 th:text="${current.comment}"></h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Cta Section Begin -->
<div th:replace="~{fragments::cta-section}"></div>
<!-- Cta Section End -->

<!-- Map Section Begin -->
<div class="container-fluid">
    <div class="row mb-3 text-center">
        <div class="col-sm-6 col-lg-8 themed-grid-col">
            <div class="map">
                <div class="yandex" id="yandex_rtb_R-A-9839314-2">
                    <!-- Yandex.RTB R-A-9839314-2 -->

                    <script>
                        window.yaContextCb.push(()=>{
                            Ya.Context.AdvManager.render({
                                "blockId": "R-A-9839314-2",
                                "renderTo": "yandex_rtb_R-A-9839314-2"
                            })
                        })
                    </script>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-4 themed-grid-col">
            <div class="map">
                <div class="map-contact-detalis">
                    <div class="open-time">
                        <h5>Режим:</h5>
                        <ul>
                            <li>Пн-Пт: <span>09:00 - 18:00</span></li>
                        </ul>
                    </div>
                    <div class="map-contact-form">
                        <h5>Связаться</h5>
                        <form th:method="POST" th:action="@{/mail}" th:object="${details}">
                            <input type="text" name="name" placeholder="Имя" required>
                            <input type="text" name="subject" class="phone" placeholder="Телефон" required>
                            <textarea name="msgBody" placeholder="Сообщение" required></textarea>
                            <button type="submit" class="site-btn">Отправить</button>
                            <div th:text="${status}"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Map Section End -->

<!-- Footer Section Begin -->
<footer th:replace="~{fragments::footer}"></footer>
<!-- Footer Section End -->

<!-- Js Plugins -->

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/main.js"></script>
<!-- Yandex.RTB -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(98027672, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/98027672" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->


</body>

</html>