<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="f8b395847f7983f2"/>
    <meta name="google-site-verification" content="ak05GnsY8ILSGx7kzGGDnbi8c1VZSEB62dR0KH595_U"/>
    <meta name="zen-verification" content="Qs3KIKkBpZHRG9QIS3E1heKpO8wXZqWQbhTTWt7wQrr7XB6Iexi1cA15htzot9cG"/>
    <meta name="description"
          content="Тату омск, татуировки, Татуировка,сколько стоит татуировка,татуировка цена,татуировка на руке,тату на твоем теле, татуировка омск, тату салон, сделать татуировку">
    <meta name="keywords"
          content="Татуировка,сколько стоит татуировка,татуировка цена,татуировка на руке,тату на твоем теле, татуировка омск, тату салон, сделать татуировку">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>R1-TАТТОO</title>
    <link href="img/logo.png" rel="icon" type="image/vnd.microsoft.icon">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://vk.com/js/api/videoplayer.js"></script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section ">
    <div class="container-fluid">
        <div class="logo" th:each="current: ${setting}"
             th:if="${current.section=='logo'}">
            <a href="/">
                <img th:src="@{'/images/'+${current.imageName}}" alt="">
            </a>
        </div>
        <div class="top-social">
            <a href="https://wa.me/9069917226" target="_blank"><i class="fa fa-whatsapp"></i></a>
            <a sec:authorize="!isAuthenticated()" href="/login"><i class="fa fa-user" aria-hidden="true"></i></a>
            <a sec:authorize="isAuthenticated()" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            <a sec:authorize="hasAuthority('ADMIN')" href="/admin"><i class="fa fa-cogs" aria-hidden="true"></i></a>
            <a sec:authorize="hasAuthority('USER')" href="/lk"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
        </div>
        <div class="container">
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li class="active"><a href="/">Главная</a></li>
                        <li><a href="/gallery">Галерея</a></li>
                        <li><a href="/sketches">Эскизы</a></li>
                        <li><a href="/about-me">О бо мне</a></li>
                        <li><a href="/blog">Блог</a></li>
                        <li><a href="/reviews">Отзывы</a></li>
                        <li><a href="/contact">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel" th:each="current : ${carousel}">
        <div class="single-hero-item set-bg" th:each="currents : ${current.banners}"
             th:attr="data-setbg=@{'/images/'+${currents.imageName}}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-text">
                            <h2 th:text="${currents.textH2}"></h2>
                            <h1 th:text="${currents.textH1}"></h1>
                            <a href="/gallery" class="primary-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero End -->

<!-- Feature Section Begin -->
<section class="feature-section">
    <div class="container-fluid">
        <div class="row" th:each="current: ${carousel}">
            <div class="col-md-4" th:each="currents : ${current.feature}">
                <div class="feature-item set-bg" th:attr="data-setbg=@{'/images/'+${currents.imageName}}">
                    <h3 th:text="${currents.textH1}"></h3>
                    <p class="short-details" th:text="${currents.textH2}"></p>
                    <a href="/sketches" class="primary-btn f-btn">Подробнее</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Feature Section End -->

<!-- About Section Begin -->
<section class="home-about spad">
    <div class="container" th:each="current: ${carousel}">
        <div class="row" th:each="currents : ${current.about}">
            <div class="col-lg-6">
                <div class="about-text">
                    <h3 style="color: #FFFFFF;" th:text="${currents.textH2}"></h3>
                    <p class="short-details" th:text="${currents.textH1}"></p>
                    <p class="long-details" th:text="${currents.textH3}"></p>
                    <a href="/gallery" class="primary-btn about-btn">Узнать больше</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img th:src="@{'/images/'+${currents.imageName}}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- Classes Section Begin -->
<section class="classes-section" th:each="current: ${carousel}">
    <div class="class-title set-bg" data-setbg="img/classes-title-bg.jpg">
        <div class="container" th:each="currents : ${current.classes}" th:if="${currents.title}">
            <div class="row">
                <div class="col-lg-7 m-auto text-center">
                    <div class="section-title pl-lg-4 pr-lg-4 pl-0 pr-0">
                        <h2 th:text="${currents.textH2}"></h2>
                        <p class="short-details" th:text="${currents.textH3}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6" th:each="currents : ${current.classes}" th:unless="${currents.title}">
                <div class="classes-item set-bg" th:attr="data-setbg=@{'/images/'+${currents.imageName}}">
                    <h4 th:text="${currents.textH1}"></h4>
                    <p class="short-details" th:text="${currents.textH2}"></p>
                    <a href="/gallery" class="primary-btn class-btn">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Classes Section End -->

<!-- Price Plan Section Begin -->
<section class="price-section spad set-bg" th:each="current: ${carousel}" data-setbg="img/price-bg.jpg">
    <div class="container">
        <div class="row" th:each="currents : ${current.price}" th:if="${currents.title}">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2 th:text="${currents.textH2}"></h2>
                    <p class="short-details" th:text="${currents.textH3}"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" th:each="currents : ${current.price}" th:unless="${currents.title}">
                <div class="single-price-plan">
                    <h4 th:text="${currents.textH1}"></h4>
                    <div class="price-plan">
                        <h2 th:text="${currents.textH2}"></h2>
                        <p class="short-details" th:text="${currents.textH3}"></p>
                    </div>
                    <ul>
                        <li th:text="${currents.textH4}"></li>
                        <li th:text="${currents.textH5}"></li>
                    </ul>
                    <a href="/contact" class="primary-btn price-btn">Начать</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Price Plan Section End -->

<!-- Choseus Section Begin -->
<section class="chooseus-section spad">
    <div class="container" th:each="current: ${carousel}">
        <div class="row">
            <div class="col-lg-12" th:each="currents : ${current.chooseus}" th:if="${currents.title}">
                <div class="section-title">
                    <h2 th:text="${currents.textH1}"></h2>
                    <p class="short-details" th:text="${currents.textH2}"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6" th:each="currents : ${current.chooseus}"
                 th:unless="${currents.title}">
                <div class="choose-item">
                    <img alt="" th:src="@{'/images/'+${currents.imageName}}">
                    <h5 th:text="${currents.textH1}"></h5>
                    <p class="short-details" th:text="${currents.textH2}"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" th:each="currents : ${current.chooseus}" th:if="${currents.title}">
                <div class="about-text">
                    <p class="long-details" th:text="${currents.textH2}"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choseus Section End -->

<!-- Video Section Begin -->
<section class="video-section set-bg" data-setbg="img/video-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video-text">
                    <h2>Немного видео</h2>
                    <a href="https://vk.com/video_ext.php?oid=-174808662&id=456239081&hash=b2f7acf9981a0447" width="333"
                       height="660" frameborder="0" allowfullscreen="1"
                       allow="autoplay; encrypted-media; fullscreen; picture-in-picture" class="play-btn video-popup">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Video Section End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>РЕАЛЬНЫЕ ОТЗЫВЫ</h2>
                    <p>Я очень дорожу вашим мнением</p>
                </div>
            </div>
        </div>
        <div class="row blog-gird">
            <div class="grid-sizer"></div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="blog-item large-item set-bg" th:each="current, item : ${reviewsLimit}"
                     th:if="${item.index == 0}" th:attr="data-setbg=@{'/images/'+${current.imageName}}">
                    <a href="/reviews" class="blog-text">
                        <div class="categories" th:text="${current.userName}"></div>
                        <h5 th:text="${current.comment}"></h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="blog-item instagram-item">
                    <a href="#" class="instagram-text">
                        <div class="categories">«Красота в деталях» <i href="https://vk.com/r1tattoo"
                                                                       class="fa fa-vk"></i></div>
                    </a>
                    <a href="/reviews" class="blog-text">
                        <h5>Оставьте отзыв, получите скидку</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="blog-item large-item set-bg" th:each="current, item : ${reviewsLimit}"
                     th:if="${item.index == 1}" th:attr="data-setbg=@{'/images/'+${current.imageName}}">
                    <a href="/reviews" class="blog-text">
                        <div class="categories" th:text="${current.userName}"></div>
                        <h5 th:text="${current.comment}"></h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="blog-item large-item xls-large set-bg" data-setbg="img/blog/blog-3.jpg">
                    <a href="/reviews" class="blog-text">
                        <h5>Все отзывы</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="blog-item large-item set-bg" th:each="current, item : ${reviewsLimit}"
                     th:if="${item.index == 2}" th:attr="data-setbg=@{'/images/'+${current.imageName}}">
                    <a href="/reviews" class="blog-text">
                        <div class="categories" th:text="${current.userName}"></div>
                        <h5 th:text="${current.comment}"></h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="blog-item large-item set-bg" th:each="current, item : ${reviewsLimit}"
                     th:if="${item.index == 3}" th:attr="data-setbg=@{'/images/'+${current.imageName}}">
                    <a href="/reviews" class="blog-text">
                        <div class="categories" th:text="${current.userName}"></div>
                        <h5 th:text="${current.comment}"></h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Cta Section Begin -->
<div th:replace="~{fragments::cta-section}"></div>
<!-- Cta Section End -->

<!-- Map Section Begin -->
<div class="container-fluid">
    <div class="row mb-3 text-center">
        <div class="col-sm-6 col-lg-8 themed-grid-col">
            <div class="map">
                <div class="advertisement">
                <div class="yandex" id="yandex_rtb_R-A-9839314-2">
                    <!-- Yandex.RTB R-A-9839314-2 -->

                    <script>
                        window.yaContextCb.push(()=>{
                            Ya.Context.AdvManager.render({
                                "blockId": "R-A-9839314-2",
                                "renderTo": "yandex_rtb_R-A-9839314-2"
                            })
                        })
                    </script>
                </div>
            </div>
            </div>
        </div>
        <div class="col-6 col-lg-4 themed-grid-col">
            <div class="map">
                <div class="map-contact-detalis">
                    <div class="open-time">
                        <h5>Режим:</h5>
                        <ul>
                            <li>Пн-Пт: <span>09:00 - 18:00</span></li>
                        </ul>
                    </div>
                    <div class="map-contact-form" th:fragment="map-contact-form">
                        <h5>Связаться</h5>
                        <form th:method="POST" th:onsubmit="sendMail(event, '.map-contact-form')" th:action="@{/mail}" th:object="${details}">
                                <input type="text" name="name" placeholder="Имя" required>
                                <input type="tel" name="subject" class="phone" placeholder="Телефон" required>
                                <textarea name="msgBody" placeholder="Сообщение" required></textarea>
                                <button type="submit" class="site-btn">Отправить</button>
                                <div class="status-message" style="display:none;" th:text="${status}"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Map Section End -->

<!-- Footer Section Begin -->
<footer th:replace="~{fragments::footer}"></footer>
<!-- Footer Section End -->

<!-- Js Plugins -->

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<!-- Yandex.RTB -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(98027672, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/98027672" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->


</body>

</html>