<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Тату омск">
    <meta name="keywords" content="Татуировка, татуировка омск, тату салон, сделать татуировку">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>R1-TАТТОO | Личный кабинет</title>
    <link href="img/logo.png" rel="icon" type="image/vnd.microsoft.icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/style.css}" type="text/css">
</head>
<body>
<!-- Header Section Begin -->
<div th:replace="~{fragments::header}"></div>
<!-- Header End -->

<!-- Modals (как есть) -->
<div th:replace="~{fragments::modal}"></div>
<div class="modal fade" id="myModal" ...> ... </div>

<!-- Основной блок Личного кабинета -->
<section class="breadcrumb-section-admin set-bg spad"
         th:each="current: ${setting}"
         th:if="${current.section=='breadcrumb'}"
         th:attr="data-setbg=@{'/images/'+${current.imageName}}">
    <div class="container" th:object="${UserDTO}">
        <!-- Добавляем обертку lk-wrapper -->
        <div class="lk-wrapper">

            <!-- Сайдбар с информацией о пользователе -->
            <aside class="lk-sidebar">
                <div class="profile-card">
                    <!-- Аватар -->
                    <div class="profile-avatar" th:fragment="profile-avatar">
                        <img th:src="${UserDTO.avatar} ? @{'/images/'+${UserDTO.avatar}} : '/img/avatar.jpg'"
                             alt="Ваш аватар">
                    </div>
                    <!-- Информация -->
                    <div class="profile-info" th:fragment="profile-info">
                        <h3 class="profile-name" th:text="*{login}">Имя пользователя</h3>
                        <p class="profile-email" th:text="*{email}">email@example.com</p>
                        <p class="profile-reg-date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            Зарегистрирован: <span th:text="*{date}">01.01.2023</span>
                        </p>
                    </div>
                    <!-- Навигационные кнопки -->
                    <div class="profile-actions">
                        <button class="action-btn" id="profile-editing">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Редактировать
                        </button>
                        <button class="action-btn" id="user-tattoos">
                            <i class="fa fa-picture-o" aria-hidden="true"></i> Мои тату
                        </button>
                        <button class="action-btn" id="info">
                            <i class="fa fa-comment-o" aria-hidden="true"></i> Мои отзывы
                        </button>
                        <a href="/logout" class="action-btn logout-btn">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Выйти
                        </a>
                    </div>
                </div>
            </aside>

            <!-- Основной контент (фрагменты будут подгружаться сюда) -->
            <main class="lk-content">
                <div class="content-header">
                    <h2>Мои работы и отзывы</h2>
                    <p>Управляйте своими татуировками и отзывами</p>
                </div>
                <div class="content-body" id="lk-content-body">
                    <!-- Фрагмент по умолчанию (например, "Мои тату") -->
                    <div th:replace="~{fragment-lk::first-fragment}"></div>
                </div>
            </main>
        </div>
    </div>
</section>
<!-- End LK block -->

<!-- Footer Section Begin -->
<div class="footer-section">
    <div th:replace="~{fragments::footer}"></div>
</div>
<!-- Footer Section End -->

<script type="text/javascript" th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.magnific-popup.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/mixitup.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.nice-select.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.slicknav.js}"></script>
<script type="text/javascript" th:src="@{/static/js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/masonry.pkgd.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/main.js}"></script>
<script type="text/javascript" th:src="@{/static/js/gallery.js}"></script>
<script type="text/javascript" th:src="@{/static/js/lk.js}"></script>
</body>
</html>