<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Тату омск">
    <meta name="keywords" content="Татуировка, татуировка омск, тату салон, сделать татуировку">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>R1-TАТТОO/lk</title>
    <link href="img/logo.png" rel="icon" type="image/vnd.microsoft.icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>


<body>
<!-- Header Section Begin -->
<div th:replace="~{fragments::header}"></div>
<!-- Header End -->
<div th:replace="~{fragments::modal}"></div>
<!-- Модальное окно End -->
<!-- Модальное окно -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title">Сообщение</h7>
                <button type="button" id="hide"
                        class="btn-close btn-close-custom"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно End -->
<section class="breadcrumb-section-admin set-bg spad" th:each="current: ${setting}" th:if="${current.section=='breadcrumb'}" th:attr="data-setbg=@{'/images/'+${current.imageName}}">
    <div class="container" th:object="${UserDTO}">
        <div class="row">
            <div class="col container-lk">
                <h6>Добро пожаловать в личный кабинет!</h6>
                <!-- Информация о профиле -->
                <div class="profile-info" th:fragment="avatar" th:object="${UserDTO}">
                        <span th:if="*{avatar}">
                        <img id="img-avatar" th:src="@{'/images/'+*{avatar}}" alt="Profile Picture">
                        </span>
                    <span th:unless="*{avatar}">
                        <img  src="img/avatar.jpg" alt="Profile Picture">
                        </span>
                    <div>
                        <p><strong>Имя:</strong> [(*{login})]</p>
                        <p><strong>Email:</strong> [(*{email})]</p>
                        <p><strong>Дата регистрации:</strong> [(*{date})]</p>
                    </div>
                </div>
                <!-- Ссылки на другие страницы -->
                <div class="links ">
                    <button class="btn btn-outline-secondary btn-block" id="profile-editing">Редактировать профиль
                    </button>
                    <button class="btn btn-outline-secondary btn-block" id="info">Мои отзывы</button>
                    <button class="btn btn-outline-secondary btn-block" id="user-tattoos">Мои тату</button>
                    <button class="btn btn-outline-secondary btn-block"><a href="/logout">Выход</a></button>
                </div>
            </div>
            <div class="col-sm-6 col-lg-8 themed-grid-col">
                <div class="container-lk-info">
                    <div th:replace="~{fragments::first-fragment}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer Section Begin -->
<div class="footer-section">
    <div th:replace="~{fragments::footer}"></div>
</div>
<!-- Footer Section End -->

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/lk.js}"></script>
</body>
</html>