<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Тату омск, Татуировки – это способ выразить себя. Они рассказывают историю твоей жизни, твои ценности и убеждения ">
    <meta name="keywords" content="Татуировка, татуировка омск, тату салон, сделать татуировку, Выбор студии и мастера">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>R1-TАТТОO/login</title>
    <link href="img/logo.png" rel="icon" type="image/vnd.microsoft.icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->

    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/main.css}" type="text/css">
</head>


<body>
<!-- Header Section Begin -->
<div th:replace="~{fragments::header}"></div>
<!-- Header End -->
<!-- Login Section -->
<section class="login-container">
    <div class="login-card">
        <div class="form-signin">
            <h2>Вход в аккаунт</h2>

            <!-- Сообщение об ошибке -->
            <div th:if="${param.error}" class="login-error">
                <p><i class="fa fa-exclamation-triangle"></i> Неверный логин или пароль</p>
            </div>

            <!-- Сообщение о выходе -->
            <div th:if="${param.logout}" class="login-success">
                <p><i class="fa fa-check-circle"></i> Вы успешно вышли из системы</p>
            </div>

            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <input type="text" name="username" placeholder="Логин" required autofocus>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Пароль" required>
                </div>
                <button class="site-btn" type="submit">Войти</button>
                <div class="text-center" style="margin-top: 20px;">
                    <a href="/registration">Нет аккаунта? Зарегистрироваться</a>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Footer Section Begin -->
<div class="footer-section">
    <div th:replace="~{fragments::footer}"></div>
</div>
<!-- Footer Section End -->

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>