<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Модальное окно -->
<div th:fragment="modal">
    <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h7 class="modal-title">Сообщение</h7>
                    <button type="button" id="hide"
                            class="delete-button btn-close-custom"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div th:fragment="modal-body">
                        <div class="container-fluid">
                            <p th:if="${message}" class="text-success" th:text="${message}"></p>

                            <!-- Сообщение об ошибке -->
                            <p th:if="${error}" class="text-danger" th:text="${error}"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно End -->
</body>
</html>