<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:each="current: ${setting}"
      th:if="${current.section=='reviews-title'}">
    <meta charset="UTF-8">
    <meta name="description" th:content="${current.textH2}">
    <meta name="keywords" th:content="${current.textH2}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${current.textH1}"></title>
    <link th:each="current: ${setting}" th:if="${current.section=='logo'}" th:href="@{'/images/'+${current.imageName}}" rel="icon" type="image/vnd.microsoft.icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<div th:replace="~{fragments::header}"></div>
<!-- Header End -->
<div th:replace="~{fragments::modal}"></div>
<!-- Модальное окно End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section-admin set-bg spad" th:each="current: ${setting}" th:if="${current.section=='breadcrumb'}" th:attr="data-setbg=@{'/images/'+${current.imageName}}">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 m-auto text-center">
                <div class="bs-hero-text">
                    <h2>Я делаю то, на что у других не хватает смелости.</h2>
                    <ul>
                        <li th:text="${#temporals.format(localDateTime, 'dd MMMM yyyy', new java.util.Locale('ru', 'RU'))}"></li>
                        <li th:text="${count} + ' ' + Отзывов"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->

<!-- Review Section Begin -->
<section class="blog-single-section spad">
    <div class="container">
        <div class="fragment-reviews">
            <div th:fragment="fragment-reviews">
                <!-- Заголовок секции -->
                <div class="section-title text-center mb-5">
                    <h2>Все отзывы</h2>
                    <p>Что говорят наши клиенты</p>
                </div>

                <!-- Таблица с отзывами -->
                <div class="classtime-table scroll">
                    <table>
                        <tbody>
                        <tr th:each="current, item : ${reviews}">
                            <td class="reviews">
                                <div class="row align-items-center g-0">
                                    <div class="col-lg-2 text-center">
                                        <div class="review-avatar">
                                            <img th:src="@{'/images/'+${current.imageName != null ? current.imageName : 'avatar.jpg'}}"
                                                 alt=""
                                                 th:unless="${current.imageName == null}">
                                            <img src="/img/avatar.jpg"
                                                 alt=""
                                                 th:if="${current.imageName == null}">
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="review-content">
                                            <h5 th:text="${current.comment}"></h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="review-meta">
                                            <span class="review-date" th:text="${#dates.format(current.date, 'dd MMMM yyyy')}"></span>
                                            <h4 class="review-author" th:text="${current.userName}"></h4>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Форма добавления отзыва -->
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div class="leave-comment-form">
                            <h4>Оставьте свой отзыв</h4>

                            <form onsubmit="submitForm(event, '.fragment-reviews')"
                                  method="POST"
                                  enctype="multipart/form-data"
                                  th:object="${reviewsEntity}"
                                  action="/reviews/import"
                                  class="review-form">

                                <!-- Кнопка выбора изображения -->
                                <div class="row mb-4">
                                    <div class="col-lg-4">
                                        <button type="button"
                                                onclick="showModals()"
                                                class="leave-btn upload-btn">
                                            <i class="fa fa-image"></i>
                                            Выбрать изображение
                                        </button>
                                        <input type="hidden" id="imageName" name="imageName">
                                    </div>
                                </div>

                                <!-- Превью изображения и текст отзыва -->
                                <div class="row mb-4">
                                    <div class="col-lg-2">
                                        <div class="review-preview">
                                            <img id="imageID" src="/img/avatar.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <textarea th:field="*{comment}"
                                                  placeholder="Ваш отзыв..."
                                                  id="Comment"
                                                  name="Comment"
                                                  required></textarea>
                                    </div>
                                </div>

                                <!-- Кнопка отправки для авторизованных -->
                                <div class="row" sec:authorize="isAuthenticated()">
                                    <div class="col-lg-4">
                                        <button type="submit" class="leave-btn submit-review">
                                            <i class="fa fa-paper-plane"></i>
                                            Отправить отзыв
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <!-- Блок для неавторизованных -->
                            <div class="row" sec:authorize="!isAuthenticated()">
                                <div class="col-lg-12">
                                    <a href="/login" class="login-link">
                                        <button class="leave-btn login-btn">
                                            <i class="fa fa-sign-in"></i>
                                            Войти
                                        </button>
                                        <p class="login-note">
                                            <i class="fa fa-info-circle"></i>
                                            Комментарии могут оставлять только зарегистрированные пользователи.
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Review Section End -->

<!-- Cta Section Begin -->
<section class="cta-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-text">
                    <h3>Сделай сегодня</h3>
                    <p>Индивидуальный эскиз</p>
                </div>
                <a href="/contact" class="primary-btn cta-btn">Записаться</a>
            </div>
        </div>
    </div>
</section>
<!-- Cta Section End -->

<!-- Footer Section Begin -->
<div class="footer-section">
    <div th:replace="~{fragments::footer}"></div>
</div>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>

</html>