<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="отзывы о тату мастере, отзывы тату, максим тату мастер, Татуировка,эскизы тату для мужчин">
    <meta name="keywords" content="Татуировка,эскизы тату для мужчин, эскизы тату на руку,эскизы тату на руку мужские, татуировка омск, тату салон, сделать татуировку">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>R1-TАТТОO/reviews</title>
    <link href="img/logo.png" rel="icon" type="image/vnd.microsoft.icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<div th:replace="~{fragments::header}"></div>
<!-- Header End -->

<!-- Breadcrumb Section Begin -->
<section class="blog-single-hero set-bg" data-setbg="img/about-me.PNG">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 m-auto text-center">
                <div class="bs-hero-text">
                    <h2>Я делаю то, на что у других не хватает смелости.</h2>
                    <ul>
                        <li th:text="${#temporals.format(localDateTime, 'dd MMMM yyyy', new java.util.Locale('ru', 'RU'))}"></li>
                        <li th:text="${count} + ' ' + Отзывов"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->

<!-- Blog Single Section Begin -->
<section class="blog-single-section spad">
    <div class="container">
        <div class="row">


            <h3 style="color: #FFFFFF;">Все отзывы</h3>

            <div class="classtime-table scroll" style="margin: 20px;">
                <div class="fragment-reviews" th:fragment="fragment-reviews">
                    <table>
                        <tbody>
                        <tr th:each="current, item : ${reviews}">
                            <td class="reviews" >

                                    <img th:src="@{'/images/'+${current.imageName}}" alt="">

                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="crossfit">
                                <span th:text="${#dates.format(current.date, 'dd MMMM yy')}"></span>
                                <h4 style="white-space: pre-line;color: #FFFFFF;" th:text="${current.userName}"></h4>
                                <h5 style="white-space: pre-line;color: #FFFFFF;" th:text="${current.comment}"></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="leave-comment-form">
                    <h4>Оставте свой отзыв</h4>
                    <form id="reviews">
                        <div class="row">
                            <div class="col-lg-4" style="margin-bottom: 20px;">
                                <input type="file" id="file-reviews" name="file" required>
                            </div>
                            <input type="hidden" id="name" name="name" th:value="${#authentication.name}">
                            <div class="col-lg-12">
                                <textarea placeholder="Текст" id="Comment" name="Comment" required></textarea>
                                <a sec:authorize="isAuthenticated()">
                                    <button type="submit" class="leave-btn">Сохранить комментарий</button>
                                </a>
                            </div>
                        </div>
                    </form>
                    <a sec:authorize="!isAuthenticated()" href="/login">
                        <button class="leave-btn">Войти</button>
                        <p>Комментарии могут оставлять только зарегистрированные пользователи.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Single Section End -->

<!-- Cta Section Begin -->
<section class="cta-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-text">
                    <h3>Сделай сегодня</h3>
                    <p>Индивидуальный эскиз</p>
                </div>
                <a href="/contact" class="primary-btn cta-btn">Записаться</a>
            </div>
        </div>
    </div>
</section>
<!-- Cta Section End -->

<!-- Footer Section Begin -->
<footer th:replace="~{fragments::footer}"></footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" th:src="@{/js/reviews.js}"></script>
</body>

</html>