<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:each="current: ${setting}"
      th:if="${current.section=='reviews-title'}">
    <meta charset="UTF-8">
    <meta name="description" th:content="${current.textH2}">
    <meta name="keywords" th:content="${current.textH2}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${current.textH1}"></title>
    <link th:each="current: ${setting}" th:if="${current.section=='logo'}" th:href="@{'/images/'+${current.imageName}}" rel="icon" type="image/vnd.microsoft.icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<div th:replace="~{fragments::header}"></div>
<!-- Header End -->
<div th:replace="~{fragments::modal}"></div>
<!-- Модальное окно End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section-admin set-bg spad" th:each="current: ${setting}" th:if="${current.section=='breadcrumb'}" th:attr="data-setbg=@{'/images/'+${current.imageName}}">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 m-auto text-center">
                <div class="bs-hero-text">
                    <h2>Я делаю то, на что у других не хватает смелости.</h2>
                    <ul>
                        <li th:text="${#temporals.format(localDateTime, 'dd MMMM yyyy', new java.util.Locale('ru', 'RU'))}"></li>
                        <li th:text="${count} + ' ' + Отзывов"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->

<!-- Review Section -->
<section class="blog-single-section spad">
    <div class="container ">
        <div class="fragment-reviews">
            <div th:fragment="fragment-reviews">
                <div class="row">
                    <h3 style="color: #FFFFFF;">Все отзывы</h3>
                    <div class="classtime-table scroll" style="margin: 20px;">
                        <table>
                            <tbody>
                            <tr th:each="current, item : ${reviews}">
                                <td class="reviews">
                                    <div class="col-lg-2">
                                        <img th:src="@{'/images/'+${current.imageName}}" alt="">
                                    </div>
                                    <div class="col-lg-8">
                                        <h5 th:text="${current.comment}"></h5>
                                    </div>
                                    <div class="col-lg-2">
                                        <span th:text="${#dates.format(current.date, 'dd MMMM yy')}"></span>
                                        <h4 th:text="${current.userName}"></h4>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="leave-comment-form">
                            <h4>Оставте свой отзыв</h4>
                            <form onsubmit="submitForm(event, '.fragment-reviews')" method="POST"
                                  enctype="multipart/form-data" th:object="${reviewsEntity}"
                                  action="/reviews/import"
                                  class="form-admin">
                                <div class="row">
                                    <div class="col-lg-4" style="margin-bottom: 20px;">
                                        <button onclick="showModals()" type="button" class="leave-btn">Выбрать
                                            изображение для отзыва
                                        </button>
                                    </div>

                                    <input type="hidden" id="imageName" name="imageName">
                                </div>
                                <div class="row">
                                    <div class="col-lg-2" style="margin-bottom: 20px;">
                                        <div class="review-container">
                                            <img id="imageID" src="img/avatar.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <textarea th:field="*{comment}" placeholder="Текст" id="Comment" name="Comment" required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4" style="margin-bottom: 20px;">
                                        <a sec:authorize="isAuthenticated()">
                                            <button type="submit" class="leave-btn">
                                                Сохранить комментарий
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <a sec:authorize="!isAuthenticated()" href="/login">
                                        <button class="leave-btn">Войти</button>
                                        <p>Комментарии могут оставлять только зарегистрированные пользователи.</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Review Section End -->

<!-- Cta Section Begin -->
<section class="cta-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-text">
                    <h3>Сделай сегодня</h3>
                    <p>Индивидуальный эскиз</p>
                </div>
                <a href="/contact" class="primary-btn cta-btn">Записаться</a>
            </div>
        </div>
    </div>
</section>
<!-- Cta Section End -->

<!-- Footer Section Begin -->
<div class="footer-section">
    <div th:replace="~{fragments::footer}"></div>
</div>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>

</html>