<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="layout">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Тату омск, эскизы, эскизы татуировок, красивые тату, тату мастер, цена татуировки, тату сколько стоит , тату цена">
    <meta name="keywords" content="Татуировка,эскизы тату для мужчин, татуировки мужские на руке,татуировки мужские эскизы, эскизы тату на руку,эскизы тату на руку мужские, татуировка омск, тату салон, сделать татуировку">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>R1-TАТТОO/sketchers</title>
    <link href="img/logo.png" rel="icon" type="image/vnd.microsoft.icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<div th:replace="~{fragments::header}"></div>
<!-- Header End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg spad" data-setbg="img/about-me.PNG">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Эскизы</h2>
                    <div class="breadcrumb-controls">
                        <a href="/"><i class="fa fa-home"></i> Главная</a>
                        <span>Эскизы</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->

<!-- GalleryController Section Begin -->
<section class="gallery-section spad">
    <div class="container">
        <div class="galleryFilter" th:fragment="galleryFilter" >

            <div class="row gallery-filter" th:each="current : ${sketches.sketchesImg}">
                <div class="col-lg-4 col-sm-6 mix crossfit workout " th:each="currents: ${current}">
                    <div class="gallery-item">
                        <img alt="" th:src="@{'/images/'+${currents.imageName}}" class="gallery-img">
                        <div class="gi-hover-warp">
                            <div class="gi-hover">
                                <a th:href="@{'/images/'+${currents.imageName}}" class="image-popup"><i
                                        class="fa fa-search-plus"></i></a>
                                <h6 th:text="${currents.description}"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blog-option">
                <div class="blog-pagination">
                    <a th:if="${sketches.currentPage!=0}" th:ch="goToPageSketches([[${sketches.currentPage -1}]], [[${sketches.number}]])" id="left" type="submit"><i
                            class="fa fa-long-arrow-left"></i></a>
                    <a class="active">[[${sketches.currentPage+1}]]</a>
                    of
                    <a>[[${sketches.pageSize}]]</a>
                    <a th:if="${sketches.currentPage+1 != sketches.pageSize}" th:onclick="goToPageSketches([[${sketches.currentPage + 1}]], [[${sketches.number}]])" id="right" type="submit"><i
                            class="fa fa-long-arrow-right"></i></a>
                </div>
                <div class="blog-option-right">
                    <div class="blog-result">Showing [[${sketches.currentPage+1}]]–[[${sketches.pageSize}]] of [[${sketches.imagesTotal}]]
                        results
                    </div>
                    <div class="show-result">
                        <p>Show:</p>
                        <select class="show-result-select" th:onchange="goToPageSketches([[${sketches.currentPage}]], this.value)" id="number">
                            <option th:each="option : ${sketches.select}" th:value="${option}" th:text="${option}"
                                    th:selected="${option == sketches.number}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- GalleryController Section End -->

<!-- Cta Section Begin -->
<section class="cta-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-text">
                    <h3>Сделай сегодня</h3>
                    <p>Индивидуальный эскиз</p>
                </div>
                <a href="/contact" class="primary-btn cta-btn">Записаться</a>
            </div>
        </div>
    </div>
</section>
<!-- Cta Section End -->

<!-- Footer Section Begin -->
<footer th:replace="~{fragments::footer}"></footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" th:src="@{/js/sketches.js}"></script>
</body>

</html>