/* Стилизация скролла */
.classtime-table.scroll::-webkit-scrollbar {
    width: 8px;
}

.classtime-table.scroll::-webkit-scrollbar-track {
    background: #2d2d2d;
    border-radius: 10px;
}

.classtime-table.scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #e16521, #e4381C);
    border-radius: 10px;
}

.classtime-table.scroll::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #e4381C, #e16521);
}
.classtime-table.scroll {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
    padding-right: 10px;
}